@using Masa.Blazor
@using Watermark.Razor.Parts
@using Watermark.Shared.Models
@if (fStyle != null)
{
    <div style="justify-content:space-between;display:flex;align-items:center;height:30px;">
        <div style="display:flex;align-items:center">
            <Label Name="样式设置" />
            <MSwitch Color="primary" @bind-Value="fStyle.Enabled" Class="ml-2" Flat Inset/>
        </div>

        @if (fStyle.Enabled)
        {
            <div>
                <ToggleButton @bind-Open="@fStyle.IsItalic" On="@ICONS.Italic" Off="@ICONS.Italic" />
                <ToggleButton @bind-Open="@fStyle.IsBold" On="@ICONS.Bold" Off="@ICONS.Bold" />
            </div>
            
        }
    </div>

    @if (fStyle.Enabled)
    {
        <div style="display:flex;justify-content:space-between;align-items:center">
            @* <MudTextField @bind-Value="fStyle.FontSize" Label="字体大小" Variant="Variant.Text" Margin="Margin.Dense" Class="mt-5" Style="width:80px" /> *@
            <ColorPicker Name="颜色" @bind-Color="fStyle.FontColor" Class="mr-1 my-1"/>
            <MSelect ItemText="u => u.Key"
                     ItemValue="u => u.Key"
                     Items="Fonts.ToList()"
                     TItemValue="string"
                     TValue="string"
                     TItem="KeyValuePair<string, string>"
                     Label="字体"
                     @bind-Value="fStyle.FontFamily"
                     Style="width: 50%"
                     Dense
                     HideDetails="true">
            </MSelect>
        </div>

    }
}



@code {
    Dictionary<string, string> Fonts = new Dictionary<string, string>();
    protected override async Task OnInitializedAsync()
    {
        Fonts = await Task.Run(() => Global.ReadFont());
    }
    [Parameter]
    public WMFontStyle fStyle { get; set; }
}
