@using System.IO
@using System.Collections.Concurrent
@using Watermark.Shared.Models
@using Watermark.Andorid.BlazorPages
@using Watermark.Shared.Enums
@using Newtonsoft.Json
@using Watermark.Win.Models
@inject ISnackbar Snackbar
@inject IWMWatermarkHelper helper
@inject IJSRuntime JSRuntime

<style>
	.design-main
	::-webkit-scrollbar {
		width: 0px;
		display: none;
	}


	.design-main {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		background: transparent;
		height: 100vh;
		width: 100vw;
		overflow-x: hidden
	}

	.d-flex-center {
		display: flex;
		align-items: center;
	}
</style>

<div class="design-main">
	<div Style="height:calc(100% - 40px);width:100vw;display: flex;margin-top:40px;">
		<div style="width:100%;padding:10px;">
			<MudExpansionPanels DisableBorders="true" Elevation="0" Style="font-weight:700;">
				<MudExpansionPanel Text="画布">
					<MudTextField @bind-Value="@canvas.Name" Label="模板名称" Required ErrorText="模板名称不能为空" Variant="Variant.Outlined" Class="mt-5" Margin="Margin.Dense" />
					<MudColorPicker Label="背景颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="@canvas.BackgroundColor" Class="mt-5" />
					<MudRadioGroup @bind-Value="canvas.CanvasType" Class="mt-5">
						<MudRadio Value="CanvasType.Normal" Color="Color.Default" Dense="true">固定主要图片模式</MudRadio>
						<MudRadio Value="CanvasType.Split" Color="Color.Default" Dense="true">自定义比例模式</MudRadio>
					</MudRadioGroup>
					@if (canvas.CanvasType == CanvasType.Normal)
					{
					<MudStack Row Class="mt-5">
						<MudTextField @bind-Value="@canvas.BorderThickness.Top" Label="上边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
						<MudTextField @bind-Value="@canvas.BorderThickness.Bottom" Label="下边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
						<MudTextField @bind-Value="@canvas.BorderThickness.Left" Label="左边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
						<MudTextField @bind-Value="@canvas.BorderThickness.Right" Label="右边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
					</MudStack>
					<MudStack Row Class="mt-5" Style="position:relative">
						<MudText Align="Align.Justify" Typo="Typo.button">启用边框等宽 (可能导致穿模)</MudText>
						<MudSwitch @bind-Value="@canvas.EnableMarginXS" Color="Color.Primary" Style="position:absolute;right:5px" />
					</MudStack>
					<MudStack Row Class="mt-5" Style="position:relative">
						<MudText Align="Align.Justify" Typo="Typo.button">启用阴影</MudText>
						<MudSwitch @bind-Value="@canvas.ImageProperties.EnableShadow" Color="Color.Primary" Style="position:absolute;right:5px" />
					</MudStack>
					<MudColorPicker class="mt-5" Label="阴影颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="canvas.ImageProperties.ShadowColor" />
					<MudTextField class="mt-5" @bind-Value="@canvas.ImageProperties.ShadowRange" Label="深度" Variant="Variant.Outlined" Margin="Margin.Dense" />

					<MudStack Row Class="mt-5" Style="position:relative;">
						<MudText Align="Align.Justify" Typo="Typo.button">启用图片圆角</MudText>
						<MudSwitch @bind-Value="@canvas.ImageProperties.EnableRadius" Color="Color.Primary" Style="position:absolute;right:5px" />
					</MudStack>
					<MudTextField class="mt-5" @bind-Value="@canvas.ImageProperties.CornerRadius" Label="圆角度数" Variant="Variant.Outlined" Margin="Margin.Dense" />

					<MudStack Row Class="mt-5" Style="position:relative">
						<MudText Align="Align.Justify" Typo="Typo.button">启用背景高斯模糊</MudText>
						<MudSwitch @bind-Value="@canvas.ImageProperties.EnableGaussianBlur" Color="Color.Primary" Style="position:absolute;right:5px" />
					</MudStack>
					<MudTextField class="mt-5" @bind-Value="@canvas.ImageProperties.GaussianDeep" Label="模糊深度" Variant="Variant.Outlined" Margin="Margin.Dense" />
					}
					else
					{
						<MudSelect Value="canvas.LengthWidthRatio" Dense="true" T="string" Label="画幅比例" Variant="Variant.Text" ValueChanged="ValueChanged2">
							<MudSelectItem Value="@("1:1")" />
							<MudSelectItem Value="@("16:9")" />
							<MudSelectItem Value="@("9:16")" />
							<MudSelectItem Value="@("4:3")" />
							<MudSelectItem Value="@("3:4")" />
							<MudSelectItem Value="@("21:9")" />
							<MudSelectItem Value="@("18:9")" />
							<MudSelectItem Value="@("1.85:1")" />
							<MudSelectItem Value="@("2.39:1")" />
						</MudSelect>
						<MudStack Row Class="mt-5">
							<MudTextField @bind-Value="@canvas.CustomWidth" Label="自定义宽度(px)" Variant="Variant.Outlined" Margin="Margin.Dense" />
							<MudTextField @bind-Value="@canvas.CustomHeight" Label="自定义高度(px)" Variant="Variant.Outlined" Margin="Margin.Dense" />
						</MudStack>
					}
				</MudExpansionPanel>
				@foreach (var container in canvas.Children)
				{
					<MudExpansionPanel Text="@container.Name">
						<div class="d-flex justify-space-between mt-5 d-flex-center ">
							<MudText Align="Align.Justify" Typo="Typo.button">背景图片</MudText>
							@if (ImagesBase64.TryGetValue(container.ID, out string src))
							{
								<MudImage Src="@src" ObjectFit="ObjectFit.Contain" Height="40" Width="260" Style="float:right" />
							}
							<MudStack Row="true">
								@if (ImagesBase64.TryGetValue(container.ID, out string src))
								{
									<MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Style="cursor: pointer;" Size="Size.Small" OnClick="() => RemoveImage(container)" />
								}
								<MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.OpenInNew" OnClick="(()=> SelectImage(container))" Class="ml-1" Size="Size.Small" />
							</MudStack>
						</div>
						<MudStack Row Class="mt-5" Justify="Justify.SpaceBetween" Style="display:flex;align-items:center;">
							<MudText Typo="Typo.button">启用阴影</MudText>
							<MudSwitch @bind-Value="@container.ContainerProperties.EnableShadow" Color="Color.Primary" />
						</MudStack>
						<MudColorPicker class="mt-5" Label="阴影颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="container.ContainerProperties.ShadowColor" />
						<MudTextField class="mt-5" @bind-Value="@container.ContainerProperties.ShadowRange" Label="深度" Variant="Variant.Outlined" Margin="Margin.Dense" />

						<MudStack Row Class="mt-5" Justify="Justify.SpaceBetween" Style="display:flex;align-items:center;">
							<MudText Typo="Typo.button">启用图片圆角</MudText>
							<MudSwitch @bind-Value="@container.ContainerProperties.EnableRadius" Color="Color.Primary" />
						</MudStack>
						<MudTextField class="mt-5" @bind-Value="@container.ContainerProperties.CornerRadius" Label="圆角度数" Variant="Variant.Outlined" Margin="Margin.Dense" />

						<div class="d-flex justify-space-between mt-5">
							<MudText Typo="Typo.button">容器内组件水平对齐</MudText>
							<MudToggleGroup @bind-Value="@container.HorizontalAlignment" T="Watermark.Shared.Enums.HorizontalAlignment" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
								<MudToggleItem Value="@(Watermark.Shared.Enums.HorizontalAlignment.Left)">
									<MudIcon Icon="@Icons.Material.Filled.FormatAlignLeft" />
								</MudToggleItem>
								<MudToggleItem Value="@(Watermark.Shared.Enums.HorizontalAlignment.Center)">
									<MudIcon Icon="@Icons.Material.Filled.FormatAlignCenter" />
								</MudToggleItem>
								<MudToggleItem Value="@(Watermark.Shared.Enums.HorizontalAlignment.Right)">
									<MudIcon Icon="@Icons.Material.Filled.FormatAlignRight" />
								</MudToggleItem>
							</MudToggleGroup>
						</div>
						<div class="d-flex justify-space-between mt-5">
							<MudText Typo="Typo.button">容器内组件竖直对齐</MudText>
							<MudToggleGroup @bind-Value="@container.VerticalAlignment" T="Watermark.Shared.Enums.VerticalAlignment" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
								<MudToggleItem Value="@(Watermark.Shared.Enums.VerticalAlignment.Top)">
									<MudIcon Icon="@Icons.Material.Filled.VerticalAlignTop" />
								</MudToggleItem>
								<MudToggleItem Value="@(Watermark.Shared.Enums.VerticalAlignment.Center)">
									<MudIcon Icon="@Icons.Material.Filled.VerticalAlignCenter" />
								</MudToggleItem>
								<MudToggleItem Value="@(Watermark.Shared.Enums.VerticalAlignment.Bottom)">
									<MudIcon Icon="@Icons.Material.Filled.VerticalAlignBottom" />
								</MudToggleItem>
							</MudToggleGroup>
						</div>
						<div class="d-flex justify-space-between mt-5">
							<MudText Typo="Typo.button">容器内组件堆叠方向</MudText>
							<MudToggleGroup @bind-Value="@container.Orientation" T="Watermark.Shared.Enums.Orientation" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
								<MudToggleItem Value="@(Watermark.Shared.Enums.Orientation.Horizontal)">
									<MudIcon Icon="@Icons.Material.Filled.BorderHorizontal" />
								</MudToggleItem>
								<MudToggleItem Value="@(Watermark.Shared.Enums.Orientation.Vertical)">
									<MudIcon Icon="@Icons.Material.Filled.BorderVertical" />
								</MudToggleItem>
							</MudToggleGroup>
						</div>
						<div class="d-flex justify-space-between mt-5">
							<MudText Typo="Typo.button">容器依靠方向</MudText>
							<MudToggleGroup @bind-Value="@container.ContainerAlignment" T="Watermark.Shared.Enums.ContainerAlignment" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
								<MudToggleItem Value="@(Watermark.Shared.Enums.ContainerAlignment.Top)">
									<MudIcon Icon="@Icons.Material.Filled.ArrowUpward" />
								</MudToggleItem>
								<MudToggleItem Value="@(Watermark.Shared.Enums.ContainerAlignment.Bottom)">
									<MudIcon Icon="@Icons.Material.Filled.ArrowDownward" />
								</MudToggleItem>
								<MudToggleItem Value="@(Watermark.Shared.Enums.ContainerAlignment.Left)">
									<MudIcon Icon="@Icons.Material.Filled.ArrowBack" />
								</MudToggleItem>
								<MudToggleItem Value="@(Watermark.Shared.Enums.ContainerAlignment.Right)">
									<MudIcon Icon="@Icons.Material.Filled.ArrowForward" />
								</MudToggleItem>
							</MudToggleGroup>
						</div>
						<MudStack Row Class=" mt-5">
							<MudTextField @bind-Value="@container.Margin.Top" Label="上边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
							<MudTextField @bind-Value="@container.Margin.Bottom" Label="下边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
							<MudTextField @bind-Value="@container.Margin.Left" Label="左边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
							<MudTextField @bind-Value="@container.Margin.Right" Label="右边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
						</MudStack>
						<MudStack Row Class=" mt-5">
							<MudTextField @bind-Value="@container.HeightPercent" Label="高(比例)" Variant="Variant.Outlined" Margin="Margin.Dense" />
							<MudTextField @bind-Value="@container.WidthPercent" Label="宽(比例)" Variant="Variant.Outlined" Margin="Margin.Dense" />
						</MudStack>

						<MudExpansionPanels DisableBorders="true" Elevation="0">
							@foreach (var ctrl in container.Controls)
							{
								@if (ctrl is WMContainer mContainer)
								{
									<MudExpansionPanel Text="@mContainer.Name">
										<div class="d-flex justify-space-between mt-5">
											<MudText Typo="Typo.button">容器内组件水平对齐</MudText>
											<MudToggleGroup @bind-Value="@mContainer.HorizontalAlignment" T="Watermark.Shared.Enums.HorizontalAlignment" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
												<MudToggleItem Value="@(Watermark.Shared.Enums.HorizontalAlignment.Left)">
													<MudIcon Icon="@Icons.Material.Filled.FormatAlignLeft" />
												</MudToggleItem>
												<MudToggleItem Value="@(Watermark.Shared.Enums.HorizontalAlignment.Center)">
													<MudIcon Icon="@Icons.Material.Filled.FormatAlignCenter" />
												</MudToggleItem>
												<MudToggleItem Value="@(Watermark.Shared.Enums.HorizontalAlignment.Right)">
													<MudIcon Icon="@Icons.Material.Filled.FormatAlignRight" />
												</MudToggleItem>
											</MudToggleGroup>
										</div>
										<div class="d-flex justify-space-between mt-5">
											<MudText Typo="Typo.button">容器内组件竖直对齐</MudText>
											<MudToggleGroup @bind-Value="@mContainer.VerticalAlignment" T="Watermark.Shared.Enums.VerticalAlignment" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
												<MudToggleItem Value="@(Watermark.Shared.Enums.VerticalAlignment.Top)">
													<MudIcon Icon="@Icons.Material.Filled.VerticalAlignTop" />
												</MudToggleItem>
												<MudToggleItem Value="@(Watermark.Shared.Enums.VerticalAlignment.Center)">
													<MudIcon Icon="@Icons.Material.Filled.VerticalAlignCenter" />
												</MudToggleItem>
												<MudToggleItem Value="@(Watermark.Shared.Enums.VerticalAlignment.Bottom)">
													<MudIcon Icon="@Icons.Material.Filled.VerticalAlignBottom" />
												</MudToggleItem>
											</MudToggleGroup>
										</div>
										<MudStack Row Class=" mt-5">
											<MudTextField @bind-Value="@mContainer.Margin.Top" Label="上边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
											<MudTextField @bind-Value="@mContainer.Margin.Bottom" Label="下边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
											<MudTextField @bind-Value="@mContainer.Margin.Left" Label="左边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
											<MudTextField @bind-Value="@mContainer.Margin.Right" Label="右边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
										</MudStack>
										<MudStack Row Class=" mt-5">
											<MudTextField @bind-Value="@mContainer.HeightPercent" Label="高(比例)" Variant="Variant.Outlined" Margin="Margin.Dense" />
											<MudTextField @bind-Value="@mContainer.WidthPercent" Label="宽(比例, 0自动计算)" Variant="Variant.Outlined" Margin="Margin.Dense" />
										</MudStack>
										<MudExpansionPanels DisableBorders="true" Elevation="0">
											@foreach (var c_comp in mContainer.Controls)
											{
												<MudExpansionPanel Text="@c_comp.Name">
													<MudStack Row Class="mt-5">
														<MudTextField @bind-Value="@c_comp.Margin.Top" Label="上边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
														<MudTextField @bind-Value="@c_comp.Margin.Bottom" Label="下边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
														<MudTextField @bind-Value="@c_comp.Margin.Left" Label="左边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
														<MudTextField @bind-Value="@c_comp.Margin.Right" Label="右边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
													</MudStack>
													<MudStack Row class="mt-5">
														<MudText Align="Align.Justify" Typo="Typo.button" Style="width:50%">组件占容器比例</MudText>
														<MudTextField @bind-Value="@c_comp.Percent" Label="%" Variant="Variant.Outlined" Margin="Margin.Dense" />
													</MudStack>
													@if (c_comp is WMLine mLine)
													{
														<MudColorPicker Label="分割线颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="mLine.Color" />
														<div class="d-flex justify-space-between mt-5">
															<MudText Typo="Typo.button">线方向</MudText>
															<MudToggleGroup @bind-Value="@mLine.Orientation" T="Watermark.Shared.Enums.Orientation" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
																<MudToggleItem Value="@(Watermark.Shared.Enums.Orientation.Horizontal)">
																	<MudIcon Icon="@Icons.Material.Filled.BorderHorizontal" />
																</MudToggleItem>
																<MudToggleItem Value="@(Watermark.Shared.Enums.Orientation.Vertical)">
																	<MudIcon Icon="@Icons.Material.Filled.BorderVertical" />
																</MudToggleItem>
															</MudToggleGroup>
														</div>
														<MudStack Row class="mt-5">
															<MudText Align="Align.Justify" Typo="Typo.button" Style="width:50%">线粗细</MudText>
															<MudTextField @bind-Value="@mLine.Thickness" Label="px" Variant="Variant.Outlined" Margin="Margin.Dense" />
														</MudStack>
													}
													else if (c_comp is WMLogo mLogo)
													{
														<MudStack Row class="mt-5" Justify="Justify.SpaceBetween">
															<MudText Typo="Typo.button">白底转透明像素</MudText>
															<MudSwitch @bind-Value="@mLogo.White2Transparent" Color="Color.Primary" />
														</MudStack>
														<MudStack Row class="mt-5" Justify="Justify.SpaceBetween">
															<MudText Typo="Typo.button">自动识别品牌图标</MudText>
															<MudSwitch @bind-Value="@mLogo.AutoSetLogo" Color="Color.Primary" />
														</MudStack>
														<div Class="mt-5" Style="display:flex;align-items:center;justify-content: space-between;">
															<MudText Align="Align.Justify" Typo="Typo.button">图片</MudText>
															@if (ImagesBase64.TryGetValue(mLogo.ID, out string src))
															{
																<MudImage Src="@src" ObjectFit="ObjectFit.Contain" Width="40" />
															}
															<MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.OpenInNew" OnClick="(()=> OpenLogoDialog(mLogo))" />
														</div>
													}
													else if (c_comp is WMText mText)
													{
														<MudColorPicker Label="字体颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="mText.FontColor" Class="mt-5" />
														<MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Class="mt-5">
															<MudToggleIconButton @bind-Toggled="@mText.IsItalic" Icon="@Icons.Material.Filled.FormatItalic" Color="@Color.Error"
																				 ToggledIcon="@Icons.Material.Filled.FormatItalic" ToggledColor="@Color.Primary" />
															<MudToggleIconButton @bind-Toggled="@mText.IsBold" Icon="@Icons.Material.Filled.FormatBold" Color="@Color.Error"
																				 ToggledIcon="@Icons.Material.Filled.FormatBold" ToggledColor="@Color.Primary" />
														</MudButtonGroup>

														<p Class="mt-5 mb-2" style="font-weight:700">图片EXIF元数据配置</p>
														<MudStack Row="true" Justify="Justify.SpaceBetween">
															<div style="width:100%;float:left;overflow-x:auto;white-space:nowrap;border-bottom:1px solid #808080;display: flex;align-items: center;">
																@(string.Join(" ", mText.Exifs.Select(x => x.Prefix + x.Value + x.Suffix)))
															</div>
															<MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.OpenInNew" OnClick="(()=>OpenExifDialog(mText))" Size="Size.Small" />
														</MudStack>


														<MudTextField @bind-Value="@mText.FontSize" Label="字体大小" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-5" />

														<MudStack Row class="mt-5" Justify="Justify.SpaceBetween">
															<div style="width:100%;float:left;overflow-x:auto;white-space:nowrap;border-bottom:1px solid #808080;display: flex;align-items: center;">
																@mText.FontFamily
															</div>
															<MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Edit" Color="Color.Default" Size="Size.Small" OnClick="()=>SelectLocalFont(mText)" />
														</MudStack>
														<MudStack Row class="mt-5" Style="position:relative">
															<MudText Align="Align.Justify" Typo="Typo.button">文字边框</MudText>
															<MudSwitch @bind-Value="@mText.EnableBorder" Color="Color.Primary" Style="position:absolute;right:5px" />
														</MudStack>
														<MudTextField @bind-Value="@mText.BorderWidth" Label="边框宽度" Variant="Variant.Outlined" Margin="Margin.Dense" class="mt-5" />
														<MudTextField @bind-Value="@mText.BorderRadius" Label="边框圆角度数" Variant="Variant.Outlined" Margin="Margin.Dense" class="mt-5" />
														<MudColorPicker Label="边框颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="mText.BorderColor" Class="mt-5" />

													}
												</MudExpansionPanel>
											}
										</MudExpansionPanels>
									</MudExpansionPanel>
								}
								else
								{
									<MudExpansionPanel Text="@ctrl.Name">
										<MudStack Row Class="mt-5">
											<MudTextField @bind-Value="@ctrl.Margin.Top" Label="上边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
											<MudTextField @bind-Value="@ctrl.Margin.Bottom" Label="下边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
											<MudTextField @bind-Value="@ctrl.Margin.Left" Label="左边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
											<MudTextField @bind-Value="@ctrl.Margin.Right" Label="右边距" Variant="Variant.Outlined" Margin="Margin.Dense" />
										</MudStack>
										<MudStack Row class="mt-5">
											<MudText Align="Align.Justify" Typo="Typo.button" Style="width:50%">组件占容器比例</MudText>
											<MudTextField @bind-Value="@ctrl.Percent" Label="%" Variant="Variant.Outlined" Margin="Margin.Dense" />
										</MudStack>
										@if (ctrl is WMLine mLine)
										{
											<MudColorPicker Label="分割线颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="mLine.Color" />
											<div class="d-flex justify-space-between mt-5">
												<MudText Typo="Typo.button">线方向</MudText>
												<MudToggleGroup @bind-Value="@mLine.Orientation" T="Watermark.Shared.Enums.Orientation" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
													<MudToggleItem Value="@(Watermark.Shared.Enums.Orientation.Horizontal)">
														<MudIcon Icon="@Icons.Material.Filled.BorderHorizontal" />
													</MudToggleItem>
													<MudToggleItem Value="@(Watermark.Shared.Enums.Orientation.Vertical)">
														<MudIcon Icon="@Icons.Material.Filled.BorderVertical" />
													</MudToggleItem>
												</MudToggleGroup>
											</div>
											<MudStack Row class="mt-5">
												<MudText Align="Align.Justify" Typo="Typo.button" Style="width:50%">线粗细</MudText>
												<MudTextField @bind-Value="@mLine.Thickness" Label="px" Variant="Variant.Outlined" Margin="Margin.Dense" />
											</MudStack>
										}
										else if (ctrl is WMLogo mLogo)
										{
											<MudStack Row class="mt-5" Justify="Justify.SpaceBetween">
												<MudText Typo="Typo.button">白底转透明像素</MudText>
												<MudSwitch @bind-Value="@mLogo.White2Transparent" Color="Color.Primary" />
											</MudStack>
											<MudStack Row class="mt-5" Justify="Justify.SpaceBetween">
												<MudText Typo="Typo.button">自动识别品牌图标</MudText>
												<MudSwitch @bind-Value="@mLogo.AutoSetLogo" Color="Color.Primary" />
											</MudStack>
											<div Class="mt-5" Style="display:flex;align-items:center;justify-content: space-between;">
												<MudText Align="Align.Justify" Typo="Typo.button">图片</MudText>
												@if (ImagesBase64.TryGetValue(mLogo.ID, out string src))
												{
													<MudImage Src="@src" ObjectFit="ObjectFit.Contain" Width="40" />
												}
												<MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.OpenInNew" OnClick="(()=> OpenLogoDialog(mLogo))" />
											</div>
										}
										else if (ctrl is WMText mText)
										{
											<MudColorPicker Label="字体颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="mText.FontColor" Class="mt-5" />
											<MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Class="mt-5">
												<MudToggleIconButton @bind-Toggled="@mText.IsItalic" Icon="@Icons.Material.Filled.FormatItalic" Color="@Color.Error"
																	 ToggledIcon="@Icons.Material.Filled.FormatItalic" ToggledColor="@Color.Primary" />
												<MudToggleIconButton @bind-Toggled="@mText.IsBold" Icon="@Icons.Material.Filled.FormatBold" Color="@Color.Error"
																	 ToggledIcon="@Icons.Material.Filled.FormatBold" ToggledColor="@Color.Primary" />
											</MudButtonGroup>

											<p Class="mt-5" style="font-weight:normal">图片EXIF元数据配置</p>
											<MudStack Row class="mt-5" Justify="Justify.SpaceBetween">
												<div style="width:100%;float:left;overflow-x:auto;white-space:nowrap;border-bottom:1px solid #808080;display: flex;align-items: center;">
													@(string.Join(" ", mText.Exifs.Select(x => x.Prefix + x.Value + x.Suffix)))
												</div>
												<MudIconButton Icon="@Icons.Material.Filled.OpenInNew" OnClick="(()=>OpenExifDialog(mText))" Style="float:right;max-width:80px;" Size="Size.Small" />
											</MudStack>

											<MudTextField @bind-Value="@mText.FontSize" Label="字体大小" Variant="Variant.Outlined" Margin="Margin.Dense" Class="mt-5" />

											<MudStack Row class="mt-5" Justify="Justify.SpaceBetween">
												<div style="width:100%;float:left;overflow-x:auto;white-space:nowrap;border-bottom:1px solid #808080;display: flex;align-items: center;">
													@mText.FontFamily
												</div>
												<MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Edit" Color="Color.Default" Size="Size.Small" OnClick="()=>SelectLocalFont(mText)" />
											</MudStack>
											<MudStack Row class="mt-5" Style="position:relative">
												<MudText Align="Align.Justify" Typo="Typo.button">文字边框</MudText>
												<MudSwitch @bind-Value="@mText.EnableBorder" Color="Color.Primary" Style="position:absolute;right:5px" />
											</MudStack>
											<MudTextField @bind-Value="@mText.BorderWidth" Label="边框宽度" Variant="Variant.Outlined" Margin="Margin.Dense" class="mt-5" />
											<MudTextField @bind-Value="@mText.BorderRadius" Label="边框圆角度数" Variant="Variant.Outlined" Margin="Margin.Dense" class="mt-5" />
											<MudColorPicker Label="边框颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="mText.BorderColor" Class="mt-5" />

										}
									</MudExpansionPanel>
								}
							}
						</MudExpansionPanels>
					</MudExpansionPanel>
				}
			</MudExpansionPanels>
		</div>
	</div>
</div>

<MudDrawer @bind-Open="@openLogoDialog" Width="100%" Height="60%" Anchor="Anchor.Bottom" Elevation="1" Variant="@DrawerVariant.Temporary" Color="Color.Default">
	@if (openLogoDialog)
	{
		<LogoDialog OnImageTouched="SelectLogoCallback" />
	}
</MudDrawer>
<MudDrawer @bind-Open="@openFontsDialog" Width="100%" Height="60%" Anchor="Anchor.Bottom" Elevation="1" Variant="@DrawerVariant.Temporary" Color="Color.Default">
	@if (openFontsDialog)
	{
		<FontsDialog OnImageTouched="SelectFontCallback" />
	}
</MudDrawer>


<MudDialog @bind-IsVisible="showDialog" Options="DialogOptions" Style="max-width:400px;">
	<DialogContent>
		<MudForm>
			<MudTextField @bind-Value="newTemplateName" T="string" Label="模板名称" Required="true" RequiredError="模板名称不能为空" />
		</MudForm>
	</DialogContent>
	<DialogActions>
		<MudButton FullWidth="true" Variant="Variant.Filled" OnClick="SaveAs">确定</MudButton>
	</DialogActions>
</MudDialog>


@code {
	[Parameter]
	public WMCanvas CurrentCanvas { get; set; }
	[Parameter]
	public string cloud { get; set; }

	[Inject]
	private IDialogService DialogService { get; set; }
	bool showDialog = false;
	string newTemplateName = "";
	DialogOptions DialogOptions { get; set; } = new DialogOptions() { MaxWidth = MaxWidth.Medium, NoHeader = true };
	bool openLogoDialog = false;
	bool openFontsDialog = false;

	WMThickness BorderThickness = new WMThickness();
	WMCanvas canvas;
	string url = "";
	string defaultImage = "";
	bool SrcLoading = false;
	List<string> Fonts = new List<string>();
	ConcurrentDictionary<string, string> ImagesBase64 = new ConcurrentDictionary<string, string>();
	WMLogo selectedLogo;
	WMText selectedText;

	[Parameter]
	public EventCallback RefreshCallback { get; set; }

	protected override async Task OnInitializedAsync()
	{
		canvas = CurrentCanvas;
		if (canvas.ImageProperties == null) canvas.ImageProperties = new WMImage();
		await InitLogoBase64();
		InitLocalFonts();

		var api = new APIHelper();
		var _ = api.PageVisitRecord(ProgramPage.Design, Platform.Andorid);
	}

	async Task InitLogoBase64()
	{
		ConcurrentDictionary<string, byte[]> dic = new();
		Global.ImageFile2Base64(dic, Global.AppPath.TemplatesFolder + canvas.ID + System.IO.Path.DirectorySeparatorChar + "default.jpg", "default");
		var folder = Global.AppPath.TemplatesFolder + canvas.ID + System.IO.Path.DirectorySeparatorChar;
		canvas.Children.ForEach(c =>
		{
			// if (!string.IsNullOrEmpty(c.Path)) 
			// {
			// 	var p = c.Path;
			// 	if (!File.Exists(c.Path))
			// 	{
			// 		p = Path.Combine(folder, c.Path);
			// 	}
			// 	Global.ImageFile2Base64(ImagesBase64, p, c.ID);
			// }
			c.Controls.ForEach(x =>
			{
				if (x is WMLogo mLogo) Global.ImageFile2Base64(dic, folder + mLogo.Path, mLogo.ID);
				else if (x is WMContainer mContainer)
				{
					mContainer.Controls.ForEach(z =>
					{
						if (z is WMLogo logo1) Global.ImageFile2Base64(dic, folder + logo1.Path, logo1.ID);
					});

				};
			});
		});

		foreach (var e in dic)
		{
			ImagesBase64[e.Key] = await JSRuntime.InvokeAsync<string>("byteToUrl", e.Value);
		}
	}

	private async void RefreshImage()
	{
		SrcLoading = true;
		var b64 = await helper.GenerationAsync(canvas, null, true, true);
		url = await JSRuntime.InvokeAsync<string>("byteToUrl", b64);
		SrcLoading = false;
		StateHasChanged();

	}

	public WMCanvas GetImageSrc()
	{
		return canvas;
	}

	async void SelectLogoCallback(KeyValuePair<string, string> pair)
	{
		if (selectedLogo is null) return;
		ImagesBase64[pair.Key] = pair.Value;
		selectedLogo.Path = pair.Key;
		ImagesBase64[selectedLogo.ID] = pair.Value;
		openLogoDialog = false;
		if (RefreshCallback.HasDelegate)
		{
			await RefreshCallback.InvokeAsync();
		}
		StateHasChanged();
	}

	void SelectFontCallback(KeyValuePair<string, string> pair)
	{
		if (selectedText is null) return;
		selectedText.FontFamily = pair.Key;
		openFontsDialog = false;
		StateHasChanged();
	}

	void OpenLogoDialog(WMLogo mLogo)
	{
		selectedLogo = mLogo;
		openLogoDialog = true;
	}

	async void OpenExifDialog(WMText mText)
	{
		var parameters = new DialogParameters<ExifConfig>();
		parameters.Add(x => x.Exifs, mText.Exifs);
		var option = new DialogOptions() { NoHeader = true, FullScreen = true };
		var rst = DialogService.Show<ExifConfig>("", parameters, option);
		var dialogResult = await rst.Result;
		if (!dialogResult.Canceled)
		{
			mText.Exifs = (List<WMExifConfigInfo>)dialogResult.Data;
			StateHasChanged();
		}
	}

	async void OpenEditDialog()
	{
		var parameters = new DialogParameters<EditComponentDialog>();
		parameters.Add(x => x.mCanvas, canvas);
		var option = new DialogOptions() { NoHeader = true, MaxWidth = MaxWidth.Medium };
		var rst = DialogService.Show<EditComponentDialog>("编辑模板", parameters, option);
		var dialogResult = await rst.Result;
		if (!dialogResult.Canceled)
		{
			StateHasChanged();
		}
	}

	void SaveAs()
	{
		string message = "保存成功！";
		try
		{
			if (string.IsNullOrEmpty(newTemplateName)) return;
			var ID = Guid.NewGuid().ToString("N").ToUpper();
			var path = Global.AppPath.TemplatesFolder + ID;
			if (!System.IO.Directory.Exists(path))
			{
				System.IO.Directory.CreateDirectory(path);
			}
			var source = Global.AppPath.TemplatesFolder + canvas.ID;
			DirectoryInfo info = new DirectoryInfo(source);
			foreach (var file in info.GetFiles())
			{
				if (file.Exists)
				{
					var target = path + Path.DirectorySeparatorChar + file.Name;
					file.CopyTo(target, true);
				}
			}
			var json = Global.CanvasSerialize(canvas);
			var newCanvas = Global.ReadConfig(json);
			newCanvas.ID = ID;
			newCanvas.Name = newTemplateName;
			var newJson = Global.CanvasSerialize(newCanvas);
			System.IO.File.WriteAllText(path + System.IO.Path.DirectorySeparatorChar + "config.json", newJson);
			showDialog = false;
			StateHasChanged();
		}
		catch (Exception ex)
		{
			message = ex.Message;
		}
		ClientInstance.ShowMsg(Snackbar, message, Severity.Success);
	}


	void SelectImage(WMContainer mContainer)
	{
		var action = new Action(() =>
		{
			ClientInstance.SelectContainerImageAction?.Invoke(canvas, mContainer, ImagesBase64);
			StateHasChanged();
		});
		OpenWinHelper.Open(action);
	}

	void SelectDefaultImage()
	{
		ClientInstance.SelectDefaultImage(canvas.ID, ImagesBase64);
		StateHasChanged();
	}

	void InitLocalFonts()
	{
		var action = new Action(() =>
		{
			ClientInstance.InitLocalFontsAction?.Invoke(Fonts);
		});
		OpenWinHelper.Open(action);
	}

	void RemoveImage(WMContainer container)
	{
		var filename = Global.AppPath.TemplatesFolder + canvas.ID + Path.DirectorySeparatorChar + container.Path;
		if (File.Exists(filename))
		{
			File.Delete(filename);
			container.Path = string.Empty;
			ImagesBase64.Remove(container.ID, out string v);
			StateHasChanged();
		}
	}

	public void SetCanvas(WMCanvas mCanvas)
	{
		CurrentCanvas = mCanvas;
		canvas = CurrentCanvas;
		InitLogoBase64();
		InvokeAsync(StateHasChanged);
	}

	void SelectLocalFont(WMText mText)
	{
		selectedText = mText;
		openFontsDialog = true;
	}

	void ValueChanged2(string v)
	{
		var wh = v.Split(":");
		var w = Convert.ToDouble(wh[0]);
		var h = Convert.ToDouble(wh[1]);
		var xs = 6000 / w;
		canvas.CustomWidth = 6000;
		canvas.CustomHeight = (int)(xs * h);
		StateHasChanged();
	}

}