@using Microsoft.AspNetCore.Components.Forms
@using System.IO
@using Watermark.Andorid.Models
@using Watermark.Win.Models
@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@using Watermark.Shared.Models
@inject ISnackbar Snackbar
@inject NavigationManager navigationManager
<style>
	.mud-switch {
		margin-left: 0px;
		margin-right: 0px;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		margin-right: 0px;
	}

</style>
@if (Global.CurrentUser != null)
{
	<MudPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
		@if (!string.IsNullOrEmpty(Global.CurrentUser.IMG))
		{
			<MudImage Width="50" Height="50" Src="@Global.CurrentUser.IMG" ObjectFit="ObjectFit.Contain" Style="float:left;" />
		}
		else
		{
			<MudIcon Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Primary" Size="Size.Large" Style="float:left;" />
		}
		<MudStack Row Style="align-items: center;">
			<MudText Typo="Typo.body1" Class="px-4" Color="@(Global.CurrentUser.IsVIP ? Color.Warning : Color.Secondary)" Align="Align.Start" Style="display:flex;align-items:center;">
				@if (Global.CurrentUser.IsVIP)
				{
					<svg t="1711290176266" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="18732" width="22" height="22"><path d="M510.955102 831.738776c-23.510204 0-45.453061-9.926531-61.64898-27.167347L138.971429 468.114286c-28.734694-31.346939-29.779592-79.412245-1.567347-111.804082l117.55102-135.314286c15.673469-18.285714 38.661224-28.734694 63.216327-28.734694H705.306122c24.032653 0 47.020408 10.44898 62.693878 28.734694l118.073469 135.314286c28.212245 32.391837 27.689796 80.457143-1.567347 111.804082L572.081633 804.571429c-15.673469 17.240816-38.138776 27.167347-61.126531 27.167347z" fill="#F2CB51" p-id="18733"></path><path d="M506.77551 642.612245c-5.22449 0-10.971429-2.089796-15.15102-6.269388l-203.755102-208.979592c-7.836735-8.359184-7.836735-21.420408 0.522449-29.779592 8.359184-7.836735 21.420408-7.836735 29.779592 0.522449l189.12653 193.828572 199.053061-194.351021c8.359184-7.836735 21.420408-7.836735 29.779592 0.522449 7.836735 8.359184 7.836735 21.420408-0.522449 29.779592l-214.204081 208.979592c-4.179592 3.657143-9.404082 5.746939-14.628572 5.746939z" fill="#FFF7E1" p-id="18734"></path></svg>
				}
				@Global.CurrentUser.DISPLAY_NAME
			</MudText>
			@if (!Global.CurrentUser.IsVIP)
			{
				<MudButton Variant="Variant.Outlined" Class="ml-5" Size="Size.Small" OnClick="()=> openVip = true">开通会员</MudButton>
			}
		</MudStack>
		<MudText Typo="Typo.overline" Class="px-4" Color="Color.Inherit" Style="margin-left: 0px;">@Global.CurrentUser.USER_NAME</MudText>
	</MudPaper>
}
else
{
	<MudPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
		<MudSkeleton />
		<MudSkeleton SkeletonType="SkeletonType.Circle" Width="50px" Height="50px" />
		<MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="200px" Height="110px" />
		<MudStack Row Class="mt-5">
			<MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="OpenLoginDialog">登录</MudButton>
			<MudButton Variant="Variant.Text" OnClick="OpenSignUpDialog">注册</MudButton>
		</MudStack>
	</MudPaper>
}

@* 活动面板 *@
<MudPaper Style="@cardStyle" Elevation="0" class="pa-3">
	<MudCarousel Class="mud-width-full" Style="height:100px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="true" AutoCycle="true" TData="object">
		<MudCarouselItem Transition="@Transition.Fade">
			<div class="d-flex" style="height:100%">
				<MudImage Src="https://cdn.thankful.top/gonggao.jpg" ObjectFit="ObjectFit.Contain" Class="mx-auto" />
			</div>
		</MudCarouselItem>
		<MudCarouselItem Transition="@Transition.Fade">
			<div class="d-flex" style="height:100%">
				<MudImage Src="https://cdn.thankful.top/yaofan.jpg" ObjectFit="ObjectFit.Contain" Class="mx-auto" />
			</div>
		</MudCarouselItem>
	</MudCarousel>
</MudPaper>


<MudPaper Style="@cardStyle" Elevation="0" class="pa-3">
	<MudStack Row style="position:relative;align-items: center">
		<MudText Typo="Typo.button"> 版本更新 @($" {ClientInstance.GetVersion().ToString()}")</MudText>
		@if (checkUpdate)
		{
			<MudChip Size="Size.Small" Color="Color.Error">new</MudChip>
		}
		<MudIconButton Icon="@Icons.Material.Filled.ArrowRight" style="position:absolute;right:10px" Size="Size.Small" OnClick="Update" />
	</MudStack>
	@if (DownLoadProgress > 0)
	{
		<MudProgressLinear Color="Color.Primary" Value="@DownLoadProgress" Class="mr-5" style="width:auto" />
	}
</MudPaper>

<MudPaper Elevation="0" Style="@cardStyle" class="pa-3">
	<MudStack Row style="position:relative;align-items: center">
		<MudText Typo="Typo.button"> 导入图标 </MudText>
		<MudIconButton Icon="@Icons.Material.Filled.ArrowRight" style="position:absolute;right:10px" Size="Size.Small" OnClick="() => openLogoDialog = true" />
	</MudStack>
	<MudDivider Class="my-2" />
	<MudStack Row style="position:relative;align-items: center">
		<MudText Typo="Typo.button"> PC客户端 </MudText>
		<MudIconButton Icon="@Icons.Material.Filled.ContentCopy" style="position:absolute;right:10px" Size="Size.Small" OnClick="@(()=>CopyClipboard("http://thankful.top:2038/api/public/dl/EMRyVNXX"))" />
	</MudStack>

	<MudDivider Class="my-2" />
	<MudStack Row style="position:relative;align-items: center">
		<MudText Typo="Typo.button"><a href="http://thankful.top/"> Web网页版</a></MudText>
		<MudIconButton Icon="@Icons.Material.Filled.ArrowRight" style="position:absolute;right:10px" Size="Size.Small" />
	</MudStack>

	<MudDivider Class="my-2" />
	<MudStack Row style="position:relative;align-items: center">
		<MudText Typo="Typo.button"> 交流群：836325187</MudText>
		<MudIconButton Icon="@Icons.Material.Filled.ContentCopy" style="position:absolute;right:10px" Size="Size.Small" OnClick="@(()=>CopyClipboard("836325187"))" />
	</MudStack>
</MudPaper>

<MudPaper Style="@cardStyle" Elevation="0" class="pa-3">
	@* <MudStack Row Justify="Justify.SpaceBetween" Style="align-items: center;">
		<MudText Typo="Typo.button"> 夜间模式 </MudText>
		<MudSwitch @bind-Value="@Global.DARK_MODE" Color="Color.Primary" Size="Size.Small" />
	</MudStack>
	<MudDivider Class="my-2" /> *@
	<MudStack Row Justify="Justify.SpaceBetween" Style="align-items: center;">
		<MudText Typo="Typo.button"> 增强EXIF解析 </MudText>
		<MudSwitch @bind-Value="@Global.SECOND_EXIF" Color="Color.Primary" Size="Size.Small" />
	</MudStack>
</MudPaper>
<MudPaper Style="@cardStyle" Elevation="0" class="pa-3">
	<MudStack Row style="position:relative;align-items: center">
		<MudText Typo="Typo.button">下载缓存</MudText>
		<MudIconButton Icon="@Icons.Material.Filled.Delete" style="position:absolute;right:10px" Size="Size.Small" OnClick="()=> DeleteCache(Global.AppPath.TemplatesFolder)" />
	</MudStack>

	<MudDivider Class="my-2" />
	<MudStack Row style="position:relative;align-items: center">
		<MudText Typo="Typo.button">图标缓存</MudText>
		<MudIconButton Icon="@Icons.Material.Filled.Delete" style="position:absolute;right:10px" Size="Size.Small" OnClick="()=>  DeleteCache(Global.AppPath.LogoesFolder)" />
	</MudStack>
</MudPaper>

<MudPaper Style="@cardStyle" Elevation="0" class="pa-3">
	<MudStack Row style="position:relative;align-items: center">
		<MudText Typo="Typo.button"> 切换账号</MudText>
		<MudIconButton Icon="@Icons.Material.Filled.ExitToApp" style="position:absolute;right:10px" Size="Size.Small" OnClick="()=> { Global.CurrentUser = null; }" />
	</MudStack>
	@if (Global.CurrentUser?.ID == "0BECCA9A-6F10-4A88-8753-921195D08853" || Global.CurrentUser?.ID == "9DEBF7DC-F58C-4667-BACF-A6BFD18352EB")
	{
		<MudDivider Class="my-2" />
		<MudStack Row style="position:relative;align-items: center">
			<MudText Typo="Typo.button"> APP数据</MudText>
			<MudIconButton Icon="@Icons.Material.Filled.ArrowRight" style="position:absolute;right:10px" Size="Size.Small" OnClick="@(()=>navigationManager.NavigateTo("/dms"))" />
		</MudStack>
	}
</MudPaper>

<MudDrawer Style="@($"{(openVip?"padding:6px 0":"display:none;")}")" @bind-Open="@openVip" Width="100%" Height="60%" Anchor="Anchor.Bottom" Elevation="15" Variant="@DrawerVariant.Temporary" Color="Color.Default">
	@if (openVip)
	{
		<VipDialog OnImageTouched="OnImageTouched" />
	}
</MudDrawer>



<MudDrawer Style="@($"{(openLogoDialog?"":"display:none;")}")" @bind-Open="@openLogoDialog" Width="100%" Height="60%" Anchor="Anchor.Bottom" Elevation="15" Variant="@DrawerVariant.Temporary" Color="Color.Default">
	@if (openLogoDialog)
	{
		<LogoDialog />
	}
</MudDrawer>

<MudOverlay Visible="@showUpdateOverlay" DarkBackground="true" Absolute="true" ZIndex="99999">
	<MudPaper Elevation="0" Class="pa-2">
		<MudStack Style="text-align:center;">
			<MudText Typo="Typo.subtitle1" Color="Color.Secondary"> 升级提醒</MudText>
		</MudStack>
		<br />
		<MudText Typo="Typo.subtitle2" Color="Color.Default">
			版本:@ClientInstance.UpdateVersion
		</MudText>
		<br/>

		<MudText Typo="Typo.subtitle2" Color="Color.Default">
			更新内容
		</MudText>
		<MudText Typo="Typo.subtitle2" Color="Color.Default">
			@ClientInstance.UpdateMessage
		</MudText>
		@if (DownLoadProgress > 0)
		{
			<MudProgressLinear Color="Color.Primary" Value="@DownLoadProgress" style="width:auto" class="mt-2"/>
		}
		<MudButton Color="Color.Secondary" Variant="Variant.Filled" DisableElevation FullWidth OnClick="Update" Size="Size.Small" Class="mt-2">更新</MudButton>
		<MudButton Color="Color.Default" Variant="Variant.Filled" DisableElevation FullWidth OnClick="()=>showUpdateOverlay = false" Size="Size.Small" Class="mt-2">以后再说</MudButton>
		
		
	</MudPaper>
</MudOverlay>

@code {
	#if ANDROID

	[Inject]
	private IUpgradeService UpgradeService { get; set; }
#endif

	[Inject]
	private IDialogService DialogService { get; set; }

	string cardStyle => $"margin:20px 16px;background:{Colors.Grey.Lighten4}";
	bool openVip = false;
	bool checkUpdate = false;
	int DownLoadProgress = 0;
	bool openLogoDialog = false;
	bool showUpdateOverlay = false;

	protected override async Task OnInitializedAsync()
	{
		var api = new APIHelper();
		var result = await Global.ReadLocalAsync();
		if (!string.IsNullOrEmpty(result.Item1))
		{
			var login = await api.LoginIn(result.Item1, result.Item2, true);
			if (login.success)
			{
				Global.CurrentUser = new WMLoginChildModel
					{
						ID = login.data.data.ID,
						IMG = login.data.data.IMG,
						DISPLAY_NAME = login.data.data.DISPLAY_NAME,
						USER_NAME = login.data.data.USER_NAME,
						EXPIRE_DATE = login.data.data.EXPIRE_DATE
					};
				await Global.WriteAccount2LocalAsync(result.Item1, result.Item2);
				StateHasChanged();
			}
		}
		checkUpdate = await Watermark.Shared.Models.ClientInstance.CheckUpdate();
		if (checkUpdate)
		{
			showUpdateOverlay = true;
		}
	}

	async void Update()
	{
		HapticFeedback.Default.Perform(HapticFeedbackType.Click);
#if ANDROID
	if (!checkUpdate || DownLoadProgress > 0) return;
	Global.APK = DateTime.Now.ToString("yyyyMMddHHmmss") + ".apk";
	await UpgradeService.DownloadFileAsync(ClientInstance.LinkPath, DownloadProgressChanged);
	UpgradeService.InstallNewVersion();
	DownLoadProgress = 0;
	StateHasChanged();
#endif
	}


	private void DownloadProgressChanged(long readLength, long allLength)
	{
		InvokeAsync(() =>
		{
			var c = (int)(readLength * 100 / allLength);

			if (c > 0 && c % 5 == 0) //刷新进度为每5%更新一次，过快的刷新会导致页面显示数值与实际不一致
			{
				DownLoadProgress = c; //下载完成百分比
				StateHasChanged();
			}
		});
	}


	async void CopyClipboard(string uri)
	{
		await Clipboard.Default.SetTextAsync(uri);
		Watermark.Shared.Models.ClientInstance.ShowMsg(Snackbar, "已复制到剪贴板", Severity.Success);
	}



	async void OpenLoginDialog()
	{
		DialogOptions topCenter = new DialogOptions() { Position = DialogPosition.TopCenter };
		var rst = DialogService.Show<LoginDialog>("", topCenter);
		var dialogResult = await rst.Result;
		if (!dialogResult.Canceled && dialogResult.Data.Equals(true))
		{
			StateHasChanged();
		}
	}

	async void OpenSignUpDialog()
	{
		var rst = DialogService.Show<SignUpDialog>("");
		var dialogResult = await rst.Result;
		if (!dialogResult.Canceled && dialogResult.Data.Equals(true))
		{
			StateHasChanged();
		}
	}

	void DeleteCache(string p)
	{
		if (Directory.Exists(p))
		{
			Directory.Delete(p, true);
			ClientInstance.ShowMsg(Snackbar, "清除完成", Severity.Success);
		}
	}

	void OnImageTouched(bool f)
	{
		openVip = false;
		StateHasChanged();
	}

	void ToPreview()
	{
		navigationManager.NavigateTo("/preview");
	}

}