@using Watermark.Razor
@using Watermark.Win.Models
@using Watermark.Shared.Models
@inject IPopupService PopupService

<div Style="position:relative;">
    <MImage Style="width: 100vw;max-height:100vh"
            @onclick="CloseEvent"
            Contain
            Src="@FocusImageSrc"/>
    @if (FocusImageType == 'a')
    {
        <Watermark.Razor.Parts.CardTitle t="FocusImage" Tags="GetTags(FocusImage.Tags)" style="margin-top:4px" />
        <div style="display: flex; align-items: center; justify-content: space-between; margin-top:0px;">
            <div style="display: flex; align-items: center;">
                <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Default" Size="Size.Small" />
                <MudText Typo="Typo.overline" Style="@($"color:{Colors.Grey.Default};padding-top: 2px;margin-left:2px;")">
                    @FocusImage?.UserDisplayName
                </MudText>
            </div>
            <div style="display: flex;">
                <MudStack style="text-align: center;gap:0px;margin-right:20px;align-items: center;" @onclick="()=>Subscribe(FocusImage?.UserId)">
                    <MudIcon Icon="@Icons.Material.Filled.AddAlert" Style="padding:0px" Color="@(subscribed.Any(x=>x.Item1 == FocusImage?.UserDisplayName) ? Color.Warning : Color.Default)" Size="Size.Medium" />
                    <MudText Typo="Typo.subtitle2"><span style="font-weight:100;font-size: 12px;">@($"{(subscribed.Any(x => x.Item1 == FocusImage?.UserDisplayName) ? "已订阅" : "订阅")}")</span></MudText>
                </MudStack>
                <MudStack style="text-align: center;gap:0px;margin-right:20px;align-items: center;" @onclick="PopupActionBar">
                    <MudIcon Icon="@Icons.Material.Filled.StarBorder" Style="padding:0px" Color="@(ILikeTemplates.Any(x => x.WatermarkId == FocusImage?.WatermarkId) ? Color.Warning : Color.Default)" Size="Size.Medium" />
                    <MudText Typo="Typo.subtitle2"><span style="font-weight:100;font-size: 12px;">@($"{(ILikeTemplates.Any(x => x.WatermarkId == FocusImage?.WatermarkId) ? "已收藏" : "收藏")}")</span></MudText>
                </MudStack>
                <MudStack style="text-align: center;gap:0px;align-items: center;" @onclick="()=>DownloadTemplate(FocusImage?.WatermarkId)">
                    <MudIcon Icon="@Icons.Material.Filled.Download" Style="padding:0px" Color="Color.Primary" Size="Size.Medium"  />
                    <MudText Typo="Typo.subtitle2"><span style="font-weight:100;font-size: 12px;">下载</span></MudText>
                </MudStack>

            </div>
        </div>

    }
    else if (FocusImageType == 'r')
    {

        <Watermark.Razor.Parts.CardTitle t="FocusImage" Tags="[]" style="margin-top:4px" />
        <div style="display: flex; align-items: center; justify-content: space-between; margin-top:0px;">
            <div style="display: flex; align-items: center;">
                <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Default" Size="Size.Small" />
                <MudText Typo="Typo.overline" Style="@($"color:{Colors.Grey.Default};padding-top: 2px;margin-left:2px;")">
                    @FocusImage?.UserDisplayName
                </MudText>
            </div>
            <div style="display: flex;">
                <MudStack style="text-align: center;gap:0px;margin-right:20px;align-items: center;" @onclick="PopupActionBar">
                    <MudIcon Icon="@Icons.Material.Filled.StarBorder" Style="padding:0px" Color="Color.Warning" Size="Size.Medium" />
                    <MudText Typo="Typo.subtitle2"><span style="font-weight:100;font-size: 12px;">取消收藏</span></MudText>
                </MudStack>
                <MudStack style="text-align: center;gap:0px;align-items: center;" @onclick="()=>DownloadTemplate(FocusImage?.WatermarkId)">
                    <MudIcon Icon="@Icons.Material.Filled.Download" Style="padding:0px" Color="Color.Primary" Size="Size.Medium"/>
                    <MudText Typo="Typo.subtitle2"><span style="font-weight:100;font-size: 12px;">下载</span></MudText>
                </MudStack>

            </div>
        </div>
    }
    else if (FocusImageType == 'd')
    {
        <div style="display: flex; align-items: center; justify-content: space-between; margin-top:4px;">
            <MudText Class="dfm-card-name" Typo="Typo.subtitle1">
                @FocusImage?.Name
            </MudText>
        </div>
        <div style="display: flex; align-items: center; justify-content: flex-end; margin-top:4px;">
            <div style="display: flex;">
                <MudStack style="text-align: center;gap:0px;margin-right:30px;align-items: center;" @onclick="()=>OpenCamera(downloadedTemplates.First(x=>x.WatermarkId == FocusImageId))">
                    <MudIcon Icon="@Icons.Material.Filled.Camera" Style="padding:0px" Color="Color.Default" Size="Size.Medium" />
                    <MudText Typo="Typo.subtitle2"><span style="font-weight:100;font-size: 12px;">拍照</span></MudText>
                </MudStack>
                <MudStack style="text-align: center;gap:0px;margin-right:20px;align-items: center;" @onclick="PopupActionBar">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Style="padding:0px" Color="Color.Default" Size="Size.Medium"  />
                    <MudText Typo="Typo.subtitle2"><span style="font-weight:100;font-size: 12px;">删除</span></MudText>
                </MudStack>
                <MudStack style="text-align: center;gap:0px;align-items: center;" @onclick="()=> GeneratePhoto(downloadedTemplates.First(x=>x.WatermarkId == FocusImageId)) ">
                    <MudIcon Icon="@Icons.Material.Filled.Image" Style="padding:0px" Color="Color.Primary" Size="Size.Medium" />
                    <MudText Typo="Typo.subtitle2"><span style="font-weight:100;font-size: 12px;">使用模板</span></MudText>
                </MudStack>

            </div>
        </div>
    }
</div>

@code {
    [Parameter] 
    public char FocusImageType { get; set; }
    [Parameter]
    public string FocusImageSrc { get; set; }

    [Parameter]
    public WMZipedTemplate FocusImage { get; set; }

    [Parameter]
    public EventCallback<string> DownloadEvent { get; set; }
    [Parameter]
    public EventCallback<WMZipedTemplate> OpenCameraEvent { get; set; }
    [Parameter]
    public EventCallback<WMZipedTemplate> GeneratePhotoEvent { get; set; }
    [Parameter]
    public EventCallback<string> SubscribeEvent { get; set; }
    [Parameter]
    public EventCallback CloseEvent { get; set; }

    [Parameter]
    public List<Tuple<string, List<WMZipedTemplate>>> subscribed { get; set; } = [];

    [Parameter]
    public List<WMZipedTemplate> downloadedTemplates { get; set; } = [];

    [Parameter]
    public string FocusImageId { get; set; }

    [Parameter]
    public List<WMZipedTemplate> ILikeTemplates { get; set; } = [];

    [Parameter]
    public List<WMZipedTemplate> ZipedTemplates { get; set; } = [];

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    async void DownloadTemplate(string watermarId)
    {
        if(DownloadEvent.HasDelegate)
        {
            await DownloadEvent.InvokeAsync(watermarId);
            if (CloseEvent.HasDelegate) await CloseEvent.InvokeAsync();
        }
    }

    void OpenCamera(WMZipedTemplate zip)
    {
        if (OpenCameraEvent.HasDelegate) OpenCameraEvent.InvokeAsync(zip);
    }

    void GeneratePhoto(WMZipedTemplate zip)
    {
        if (GeneratePhotoEvent.HasDelegate) GeneratePhotoEvent.InvokeAsync(zip);
    }

    async Task Subscribe(string userId)
    {
        if (SubscribeEvent.HasDelegate) 
        {
            await SubscribeEvent.InvokeAsync(userId);
            StateHasChanged();
        }
    }

    void Close()
    {
        if (CloseEvent.HasDelegate) CloseEvent.InvokeAsync();
    }

    async void PopupActionBar()
    {
        //已下载
        if (FocusImageType == 'd')
        {
            var p = Global.AppPath.TemplatesFolder + FocusImageId + Path.DirectorySeparatorChar;
            if (Directory.Exists(p))
            {
                var _ = Task.Run(() =>
                {
                    Directory.Delete(p, true);
                    var t = downloadedTemplates.FirstOrDefault(x => x.WatermarkId == FocusImageId);
                    if (t != null)
                    {
                        downloadedTemplates.Remove(t);
                    }
                    InvokeAsync(StateHasChanged);
                    Common.ShowMsg(PopupService, "删除成功", AlertTypes.Success);
                });

            }
        }
        else if (FocusImageType == 'r')
        {
            if (Global.CurrentUser != null && !string.IsNullOrEmpty(Global.CurrentUser.ID))
            {
                var helper = new APIHelper();
                helper.DeleteILike(Global.CurrentUser.ID, FocusImageId);
                var item = ILikeTemplates.FirstOrDefault(x => x.WatermarkId == FocusImageId);
                if (item != null)
                {
                    ILikeTemplates.Remove(item);
                    Common.ShowMsg(PopupService, "取消收藏成功", AlertTypes.Success);
                }
            }
        }
        else if (FocusImageType == 'a')
        {
            if (Global.CurrentUser != null && !string.IsNullOrEmpty(Global.CurrentUser.ID))
            {
                var helper = new APIHelper();
                var r = await helper.AddILike(Global.CurrentUser.ID, FocusImageId);
                var item = ZipedTemplates.FirstOrDefault(x => x.WatermarkId == FocusImageId);
                if (item != null && !ILikeTemplates.Any(x => x.WatermarkId == item.WatermarkId))
                {
                    ILikeTemplates.Add(item);
                    Common.ShowMsg(PopupService, "收藏成功", AlertTypes.Success);
                }
            }
        }
        Close();
        StateHasChanged();

    }

    public List<BlockTextTag> GetTags(List<string> tags)
    {
        return tags.Select(x => new BlockTextTag(x, "#1976d2", "white")).ToList();
    }

    public class ViewParameter
    {
        public char FocusImageType { get; set; }
        public string FocusImageSrc { get; set; }
        public WMZipedTemplate FocusImage { get; set; }
        public string FocusImageId { get; set; }
        public List<WMZipedTemplate> ZipedTemplates { get; set; } = [];
        public List<WMZipedTemplate> ILikeTemplates { get; set; } = [];
        public List<Tuple<string, List<WMZipedTemplate>>> subscribed { get; set; } = [];
        public bool FocusImageShow { get; set; } = false;
    }
}
