@page "/preview/{names}/{templateId}"
@using System.Collections.Concurrent
@using Watermark.Razor
@using Watermark.Shared.Models
@using Watermark.Shared.Enums
@using Components.Layout
@inject NavigationManager navigationManager
@inject IPopupService PopupService
@inject IWMWatermarkHelper helper
@inject APIHelper api
@inject IJSRuntime JSRuntime
@inject IClientInstance ClientInstance
@inherits PStackPageBase
@inject PageStackNavController NavController
@layout MainLayout
@inject LoadingService loadingService

<style>
    .preview-box {
    gap: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 60px;
    height: 60px;
    justify-content: center;
    }

    .config-btn {
    gap: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50px;
    height: 60px;
    justify-content: center;
    }


    input[type=range] {
    pointer-events: none;
    }

    input[type=range]::-webkit-slider-thumb { /*Webkit Browsers like Chrome and Safari*/
    pointer-events: auto;
    }

    input[type=range]::-moz-range-thumb { /*Firefox*/
    pointer-events: auto;
    }

    input[type=range]::-ms-thumb { /*Internet Explorer*/
    pointer-events: auto;
    }


    ::-webkit-scrollbar {
    width: 0px;
    display: none;
    }

</style>


<PStackPageBarInit Dense Flat CenterTitle Title="编辑图片">
    <ActionContent>
        @if (SrcLoading)
        {
            <WmProgressCircular Color="secondary" Indeterminate="true" />
        }
        else
        {
            <MButton IconName="mdi-refresh"
            OnClick="RefreshEditImage">
            </MButton>
        }

        <MButton IconName="mdi-content-save"
        OnClick="OpenSave">
        </MButton>
    </ActionContent>
</PStackPageBarInit>

@if (CurrentImage != null && !string.IsNullOrEmpty(CurrentImage.Src))
{
    <WmStack Spacing="2" Style="position:absolute;margin-top:10px;left:20px;z-index:99">
        <WmIconButton Icon="@WmIcons.Material.Filled.AutoAwesomeMotion" Style="width:30px" Color="primary" Variant="Variant.Filled" Size="Size.Small" OnClick="ExpandSwitch" />
        <WmDivider Style="width:30px" />
        <WmCollapse Expanded="_expanded">
            <WmStack>
                <WmPaper Style="width:30px;height:30px;cursor:pointer;padding:3px 3px 3px 2px;" Elevation="25" @onclick="OpenFullExifInfo">
                    <Watermark.Razor.Parts.IconExif />
                </WmPaper>
                <WmIconButton Icon="@WmIcons.Material.Filled.FindReplace" Color="info" Variant="Variant.Filled" Style="width:30px;height:30px;" OnClick="SelectSourceImageExif" />

                @foreach (var i in CurrentTemplateCanvas.Children)
                {
                    <WmIconButton Icon="@WmIcons.Material.Filled.Layers" Color="primary" Variant="Variant.Filled" Style="width:30px;height:30px;" OnClick="()=> SelectContainer(i, 1)" />
                    foreach (var ii in i.Controls.Where(x => x is WMContainer).Cast<WMContainer>())
                    {
                        <WmIconButton Icon="@WmIcons.Material.Outlined.Layers" Color="secondary" Variant="Variant.Filled" Style="width:30px;height:30px;margin-left:35px;" OnClick="()=> SelectContainer(ii, 2)" />
                    }
                }
            </WmStack>
        </WmCollapse>
    </WmStack>
    <WmCard Style="@($"padding:16px;background:#E5E5E5;transition: height 0.5s;height:calc(100% - {(ShowSetting ? (showRadio ? "60px" : "42%") : "60px")})")" Elevation="0">
        <SwiperTabItems @bind-Value="SelecetedIndex">
            @foreach (var item in Images)
            {
                <SwiperTabItem>
                    <WmImage ObjectFit="Contain" Src="@item.Src" Elevation="0" Style="width:100%;height:100%" />
                </SwiperTabItem>
            }
        </SwiperTabItems>
    </WmCard>
    <WmStack Row="true" Style="white-space: nowrap; overflow-x:auto;position:absolute;bottom:0px;width:100%">
        @if (CurrentImage!.Canvas.CanvasType == Shared.Enums.CanvasType.Split)
        {
            <WmStack Style="gap:0px;display:flex;align-items:center;text-align:center;margin:auto;width:50px;height:60px;justify-content: center;" @onclick="OpenRadio">
                <WmIcon Icon="@WmIcons.Material.Filled.FilterFrames" />
                <WmText Typo="Typo.subtitle2">比例</WmText>
            </WmStack>
        }

        @* 画布 *@
        @if (CurrentTemplateCanvas != null)
        {
            <WmStack class="config-btn" @onclick="OpenCanvas">
                <WmIcon Icon="@WmIcons.Material.Filled.Layers" />
                <WmText Typo="Typo.subtitle2">画布</WmText>
            </WmStack>
        }

        @if (SelectedContainer != null)
        {
            <WmStack class="config-btn" @onclick="()=> OpenControlSetting(SelectedContainer)">
                <WmIcon Icon="@WmIcons.Material.Filled.Layers" />
                <WmText Typo="Typo.subtitle2">@SelectedContainer?.Name</WmText>
            </WmStack>
            @foreach (var c in SelectedContainer.Controls.Where(x => !(x is WMContainer)))
            {
                <WmStack class="config-btn" @onclick="()=>OpenControlSetting(c)">
                    <WmIcon Icon="@(c is WMText ? WmIcons.Material.Filled.Title : (c is WMLine ? WmIcons.Material.Filled.BorderVertical : WmIcons.Material.Filled.PhotoSizeSelectLarge))" />
                    <WmText Typo="Typo.subtitle2">@c.Name</WmText>
                </WmStack>
            }
        }
    </WmStack>
}

<MBottomSheet @bind-Value="@ShowSetting" ContentStyle="@(showRadio ? "" : "height:40%")">
    <MSheet Style="height:100%;overflow:auto">
        @if (CurrentImage != null && CurrentImage!.Canvas.CanvasType == Shared.Enums.CanvasType.Split && showRadio)
        {
            <WmGrid>
                <WmItem xs="12" Style="width: 100%; overflow-x: auto; white-space: nowrap;">
                    @foreach (var r in radioes)
                    {
                        <WmPaper Elevation="25" Class="ma-1" Width="60px" Style="@($"display:inline-block;background:{(r == CurrentTemplateCanvas.LengthWidthRatio ? "#FF9800" : "")}")">
                            <WmStack class="preview-box" @onclick="()=>SetLengthWidthRatio(r)">
                                @if (RadioBase64.TryGetValue(r, out string? src))
                                {
                                    <WmImage Src="@src" Width="50" Height="40" Style="padding:10px;" ObjectFit="ObjectFit.Contain" />
                                }
                                <WmText Typo="Typo.subtitle2">@r</WmText>
                            </WmStack>
                        </WmPaper>
                    }
                </WmItem>
            </WmGrid>
        }

        @* 画布 *@
        @if (ShowSetting && CurrentTemplateCanvas != null && showCanvas)
        {
            <WmPaper Style="width:100%;height:100%;overflow-y:auto;padding:20px" Elevation="0">
                <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                    <WmText Typo="Typo.h5"><b>画布</b></WmText>
                    <WmDivider Class="my-2" />
                    <WmTextField @bind-Value="@CurrentTemplateCanvas.Name" Label="模板名称" Required ErrorText="模板名称不能为空" Variant="Variant.Text" Margin="Margin.Dense" />
                    <WmColorPicker Label="背景颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="@CurrentTemplateCanvas.BackgroundColor" />
                </WmPaper>
                <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                    <MRadioGroup @bind-Value="CurrentTemplateCanvas.CanvasType" Row Class="mx-2">
                        <MRadio Value="CanvasType.Normal" Label="固定主要图片模式" Dense />
                        <MRadio Value="CanvasType.Split" Label="自定义比例模式" Dense />
                    </MRadioGroup>
                </WmPaper>
                @if (CurrentTemplateCanvas.CanvasType == CanvasType.Normal)
                {
                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <WmStack Row Justify="Justify.FlexStart" Style="display:flex;align-items:center;">
                            <WmIconButton Icon="@WmIcons.Material.Filled.OpenInNew" Variant="Variant.Filled" Size="Size.Small" Color="primary" OnClick="SelectDefaultImage" />
                            <WmToggleIconButton @bind-Toggled="@CurrentTemplateCanvas.ImageProperties.Show" Size="Size.Small" ToggledSize="Size.Small" Variant="Variant.Filled" Icon="@WmIcons.Material.Filled.VisibilityOff" Color="error" ToggledIcon="@WmIcons.Material.Filled.Visibility" ToggledColor="primary" />
                        </WmStack>
                        <WmDivider Class="my-2" />
                        @if (ImagesBase64.TryGetValue("default", out string? src))
                        {
                            <WmImage Height="250" Style="width:100%;" ObjectFit="ObjectFit.Contain" Src="@src" />
                        }
                    </WmPaper>
                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <WmStack>
                            <WmText Typo="Typo.subtitle1">上边距(@CurrentTemplateCanvas.BorderThickness.Top)</WmText>
                            <WmSlider Color="primary" @bind-Value="@CurrentTemplateCanvas.BorderThickness.Top" ValueLabel="true" />
                            <WmText Typo="Typo.subtitle1">下边距(@CurrentTemplateCanvas.BorderThickness.Bottom)</WmText>
                            <WmSlider Color="primary" @bind-Value="@CurrentTemplateCanvas.BorderThickness.Bottom" ValueLabel="true" />
                            <WmText Typo="Typo.subtitle1">左边距(@CurrentTemplateCanvas.BorderThickness.Left)</WmText>
                            <WmSlider Color="primary" @bind-Value="@CurrentTemplateCanvas.BorderThickness.Left" ValueLabel="true" />
                            <WmText Typo="Typo.subtitle1">右边距(@CurrentTemplateCanvas.BorderThickness.Right)</WmText>
                            <WmSlider Color="primary" @bind-Value="@CurrentTemplateCanvas.BorderThickness.Right" ValueLabel="true" />
                        </WmStack>
                        <WmDivider Class="my-2" />
                        <WmStack Row Justify="Justify.SpaceBetween" Style="display:flex;align-items:center;">
                            <WmText Typo="Typo.button">边框等宽</WmText>
                            <WmStack Row>
                                <WmCheckBox @bind-Value="CurrentTemplateCanvas.BorderSameWidth.Top" Size="Size.Small">上</WmCheckBox>
                                <WmCheckBox @bind-Value="CurrentTemplateCanvas.BorderSameWidth.Bottom" Size="Size.Small">下</WmCheckBox>
                                <WmCheckBox @bind-Value="CurrentTemplateCanvas.BorderSameWidth.Left" Size="Size.Small">左</WmCheckBox>
                                <WmCheckBox @bind-Value="CurrentTemplateCanvas.BorderSameWidth.Right" Size="Size.Small">右</WmCheckBox>
                            </WmStack>
                        </WmStack>
                    </WmPaper>
                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <WmStack Row Justify="Justify.SpaceBetween" Style="display:flex;align-items:center;">
                            <WmText Typo="Typo.button">阴影</WmText>
                            <WmSwitch @bind-Value="@CurrentTemplateCanvas.ImageProperties.EnableShadow" Color="primary" />
                        </WmStack>
                        <WmDivider Class="my-2" />
                        <WmColorPicker Label="阴影颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="CurrentTemplateCanvas.ImageProperties.ShadowColor" />
                        <WmText Typo="Typo.subtitle1">深度(@CurrentTemplateCanvas.ImageProperties.ShadowRange)</WmText>
                        <WmSlider Color="primary" @bind-Value="@CurrentTemplateCanvas.ImageProperties.ShadowRange" ValueLabel="true" />
                    </WmPaper>
                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <WmStack Row Justify="Justify.SpaceBetween" Style="display:flex;align-items:center;">
                            <WmText Typo="Typo.button">图片圆角</WmText>
                            <WmSwitch @bind-Value="@CurrentTemplateCanvas.ImageProperties.EnableRadius" Color="primary" />
                        </WmStack>
                        <WmDivider Class="my-2" />
                        <WmText Typo="Typo.subtitle1">圆角度数(@CurrentTemplateCanvas.ImageProperties.CornerRadius)</WmText>
                        <WmSlider Color="primary" @bind-Value="@CurrentTemplateCanvas.ImageProperties.CornerRadius" ValueLabel="true" />
                    </WmPaper>
                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <WmStack Row Justify="Justify.SpaceBetween" Style="display:flex;align-items:center;">
                            <WmText Typo="Typo.button">背景高斯模糊</WmText>
                            <WmSwitch @bind-Value="@CurrentTemplateCanvas.ImageProperties.EnableGaussianBlur" Color="primary" />
                        </WmStack>
                        <WmDivider Class="my-2" />
                        <WmText Typo="Typo.subtitle1">模糊深度(@CurrentTemplateCanvas.ImageProperties.GaussianDeep)</WmText>
                        <WmSlider Color="primary" @bind-Value="@CurrentTemplateCanvas.ImageProperties.GaussianDeep" ValueLabel="true" />
                    </WmPaper>
                    @if (CurrentTemplateCanvas.FrameProperties != null)
                    {
                        <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                            <WmStack Row Justify="Justify.SpaceBetween" Style="display:flex;align-items:center;">
                                <WmText Typo="Typo.button">画幅调整</WmText>
                                <WmSwitch @bind-Value="@CurrentTemplateCanvas.FrameProperties.Enabled" Color="primary" />
                            </WmStack>
                            @if (CurrentTemplateCanvas.FrameProperties.Enabled)
                            {
                                <WmDivider Class="my-2" />
                                <MSelect Value="CurrentTemplateCanvas.LengthWidthRatio" Dense TValue="string" TItemValue="string" TItem="string"
                                         Items="radioes" ItemText="e => e" ItemValue="e => e" Label="画幅比例" ValueChanged="ValueChanged2" />
                                <WmText Typo="Typo.subtitle1">内边距(@CurrentTemplateCanvas.FrameProperties.BorderPadding)</WmText>
                                <WmSlider Color="primary" @bind-Value="@CurrentTemplateCanvas.FrameProperties.BorderPadding" ValueLabel="true" />
                                <WmStack Row Justify="Justify.SpaceBetween" Style="align-items: center;">
                                    <WmText Typo="Typo.button">阴影</WmText>
                                    <WmSwitch @bind-Value="@CurrentTemplateCanvas.FrameProperties.EnableShadow" Color="primary" />
                                </WmStack>
                                <WmDivider Class="my-2" />
                                <WmColorPicker Label="阴影颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="CurrentTemplateCanvas.FrameProperties.ShadowColor" />
                                <WmText Typo="Typo.subtitle1">深度(@CurrentTemplateCanvas.FrameProperties.ShadowRange)</WmText>
                                <WmSlider Color="primary" @bind-Value="@CurrentTemplateCanvas.FrameProperties.ShadowRange" ValueLabel="true" />
                                <WmStack Row Justify="Justify.SpaceBetween" Style="align-items: center;">
                                    <WmText Typo="Typo.button">图片圆角</WmText>
                                    <WmSwitch @bind-Value="@CurrentTemplateCanvas.FrameProperties.EnableRadius" Color="primary" />
                                </WmStack>
                                <WmDivider Class="my-2" />
                                <WmText Typo="Typo.subtitle1">圆角度数(@CurrentTemplateCanvas.FrameProperties.CornerRadius)</WmText>
                                <WmSlider Color="primary" @bind-Value="@CurrentTemplateCanvas.FrameProperties.CornerRadius" ValueLabel="true" />
                                <WmStack Row Justify="Justify.SpaceBetween" Style="align-items: center;">
                                    <WmText Typo="Typo.button">背景高斯模糊</WmText>
                                    <WmSwitch @bind-Value="@CurrentTemplateCanvas.FrameProperties.EnableGaussianBlur" Color="primary" />
                                </WmStack>
                                <WmDivider Class="my-2" />
                                <WmText Typo="Typo.subtitle1">模糊深度(@CurrentTemplateCanvas.FrameProperties.GaussianDeep)</WmText>
                                <WmSlider Color="primary" @bind-Value="@CurrentTemplateCanvas.FrameProperties.GaussianDeep" ValueLabel="true" />
                                <WmStack Row Justify="Justify.SpaceBetween" Style="align-items: center;">
                                    <WmText Typo="Typo.button">原背景透明</WmText>
                                    <WmSwitch @bind-Value="@CurrentTemplateCanvas.FrameProperties.BeforeBkTransparent" Color="primary" />
                                </WmStack>
                            }
                        </WmPaper>
                    }
                }
                else
                {
                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <MSelect Value="CurrentTemplateCanvas.LengthWidthRatio" Dense TValue="string" TItemValue="string" TItem="string"
                                 Items="radioes" ItemText="e => e" ItemValue="e => e" Label="画幅比例" ValueChanged="ValueChanged2" />
                        <WmStack Row Class="mt-5">
                            <WmTextField @bind-Value="@CurrentTemplateCanvas.CustomWidth" Label="自定义宽度(px)" Variant="Variant.Outlined" Margin="Margin.Dense" />
                            <WmTextField @bind-Value="@CurrentTemplateCanvas.CustomHeight" Label="自定义高度(px)" Variant="Variant.Outlined" Margin="Margin.Dense" />
                        </WmStack>
                    </WmPaper>
                }
            </WmPaper>
        }

        @if (ShowSetting && SelectedControl != null && showControlSetting)
        {
            <WmPaper Style="width:100%;height:100%;overflow-y:auto;padding:20px" Elevation="0">
                @if (SelectedControl is WMContainer container && ContainerLevel == 1)
                {
                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <WmText Typo="Typo.h5"><b>@container.Name</b></WmText>
                        <WmDivider Class="my-3" />
                        <WmColorPicker Label="背景颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="@container.BackgroundColor" />
                    </WmPaper>
                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <WmStack Row Justify="Justify.SpaceBetween" Style="display:flex;align-items:center;">
                            <WmText Typo="Typo.button">启用阴影</WmText>
                            <WmSwitch @bind-Value="@container.ContainerProperties.EnableShadow" Color="primary" />
                        </WmStack>
                        <WmDivider Class="my-3" />
                        <WmColorPicker Label="阴影颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="container.ContainerProperties.ShadowColor" />
                        <WmText class="mt-5" Typo="Typo.subtitle1">深度(@container.ContainerProperties.ShadowRange)</WmText>
                        <WmSlider Color="primary" @bind-Value="@container.ContainerProperties.ShadowRange" ValueLabel="true" />

                    </WmPaper>
                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <WmStack Row Justify="Justify.SpaceBetween" Style="display:flex;align-items:center;">
                            <WmText Typo="Typo.button">启用图片圆角</WmText>
                            <WmSwitch @bind-Value="@container.ContainerProperties.EnableRadius" Color="primary" />
                        </WmStack>
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">圆角度数(@container.ContainerProperties.CornerRadius)</WmText>
                        <WmSlider Color="primary" @bind-Value="@container.ContainerProperties.CornerRadius" ValueLabel="true" />
                    </WmPaper>
                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <WmText Typo="Typo.subtitle1">旋转角度(@container.Angle)</WmText>
                        <WmSlider Color="primary" @bind-Value="@container.Angle" ValueLabel="true" Min="0" Max="360" Step="10" />
                    </WmPaper>
                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <div class="d-flex justify-space-between">
                            <WmText Typo="Typo.button">容器内组件水平对齐</WmText>
                            <WmToggleGroup @bind-Value="@container.HorizontalAlignment" T="HorizontalAlignment" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
                                <WmToggleItem Value="@(HorizontalAlignment.Left)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.FormatAlignLeft" />
                                </WmToggleItem>
                                <WmToggleItem Value="@(HorizontalAlignment.Center)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.FormatAlignCenter" />
                                </WmToggleItem>
                                <WmToggleItem Value="@(HorizontalAlignment.Right)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.FormatAlignRight" />
                                </WmToggleItem>
                            </WmToggleGroup>
                        </div>
                        <WmDivider Class="my-3" />
                        <div class="d-flex justify-space-between">
                            <WmText Typo="Typo.button">容器内组件竖直对齐</WmText>
                            <WmToggleGroup @bind-Value="@container.VerticalAlignment" T="VerticalAlignment" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
                                <WmToggleItem Value="@(VerticalAlignment.Top)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.VerticalAlignTop" />
                                </WmToggleItem>
                                <WmToggleItem Value="@(VerticalAlignment.Center)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.VerticalAlignCenter" />
                                </WmToggleItem>
                                <WmToggleItem Value="@(VerticalAlignment.Bottom)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.VerticalAlignBottom" />
                                </WmToggleItem>
                            </WmToggleGroup>
                        </div>
                        <WmDivider Class="my-3" />
                        <div class="d-flex justify-space-between">
                            <WmText Typo="Typo.button">容器内组件堆叠方向</WmText>
                            <WmToggleGroup @bind-Value="@container.Orientation" T="Orientation" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
                                <WmToggleItem Value="@(Orientation.Horizontal)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.BorderHorizontal" />
                                </WmToggleItem>
                                <WmToggleItem Value="@(Orientation.Vertical)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.BorderVertical" />
                                </WmToggleItem>
                            </WmToggleGroup>
                        </div>
                        <WmDivider Class="my-3" />
                        <div class="d-flex justify-space-between">
                            <WmText Typo="Typo.button">容器依靠方向</WmText>
                            <WmToggleGroup @bind-Value="@container.ContainerAlignment" T="ContainerAlignment" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
                                <WmToggleItem Value="@(ContainerAlignment.Top)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.ArrowUpward" />
                                </WmToggleItem>
                                <WmToggleItem Value="@(ContainerAlignment.Bottom)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.ArrowDownward" />
                                </WmToggleItem>
                                <WmToggleItem Value="@(ContainerAlignment.Left)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.ArrowBack" />
                                </WmToggleItem>
                                <WmToggleItem Value="@(ContainerAlignment.Right)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.ArrowForward" />
                                </WmToggleItem>
                            </WmToggleGroup>
                        </div>
                    </WmPaper>
                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <WmText Typo="Typo.subtitle1">上边距(@container.Margin.Top)</WmText>
                        <WmSlider Color="primary" @bind-Value="@container.Margin.Top" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">下边距(@container.Margin.Bottom)</WmText>
                        <WmSlider Color="primary" @bind-Value="@container.Margin.Bottom" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">左边距(@container.Margin.Left)</WmText>
                        <WmSlider Color="primary" @bind-Value="@container.Margin.Left" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">右边距(@container.Margin.Right)</WmText>
                        <WmSlider Color="primary" @bind-Value="@container.Margin.Right" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">高(比例)(@container.HeightPercent)</WmText>
                        <WmSlider Color="primary" @bind-Value="@container.HeightPercent" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">宽(比例)(@container.WidthPercent)</WmText>
                        <WmSlider Color="primary" @bind-Value="@container.WidthPercent" ValueLabel="true" />
                    </WmPaper>
                }
                else if (SelectedControl is WMContainer mContainer && ContainerLevel == 2)
                {

                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <WmText Typo="Typo.h5"><b>@mContainer.Name</b></WmText>
                        <WmDivider Class="my-3" />
                        <div class="d-flex justify-space-between">
                            <WmText Typo="Typo.button">容器内组件水平对齐</WmText>
                            <WmToggleGroup @bind-Value="@mContainer.HorizontalAlignment" T="HorizontalAlignment" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
                                <WmToggleItem Value="@(HorizontalAlignment.Left)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.FormatAlignLeft" />
                                </WmToggleItem>
                                <WmToggleItem Value="@(HorizontalAlignment.Center)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.FormatAlignCenter" />
                                </WmToggleItem>
                                <WmToggleItem Value="@(HorizontalAlignment.Right)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.FormatAlignRight" />
                                </WmToggleItem>
                            </WmToggleGroup>
                        </div>
                        <WmDivider Class="my-3" />
                        <div class="d-flex justify-space-between">
                            <WmText Typo="Typo.button">容器内组件竖直对齐</WmText>
                            <WmToggleGroup @bind-Value="@mContainer.VerticalAlignment" T="VerticalAlignment" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
                                <WmToggleItem Value="@(VerticalAlignment.Top)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.VerticalAlignTop" />
                                </WmToggleItem>
                                <WmToggleItem Value="@(VerticalAlignment.Center)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.VerticalAlignCenter" />
                                </WmToggleItem>
                                <WmToggleItem Value="@(VerticalAlignment.Bottom)">
                                    <WmIcon Icon="@WmIcons.Material.Filled.VerticalAlignBottom" />
                                </WmToggleItem>
                            </WmToggleGroup>
                        </div>

                    </WmPaper>
                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <WmText Typo="Typo.subtitle1">上边距(@mContainer.Margin.Top)</WmText>
                        <WmSlider Color="primary" @bind-Value="@mContainer.Margin.Top" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">下边距(@mContainer.Margin.Bottom)</WmText>
                        <WmSlider Color="primary" @bind-Value="@mContainer.Margin.Bottom" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">左边距(@mContainer.Margin.Left)</WmText>
                        <WmSlider Color="primary" @bind-Value="@mContainer.Margin.Left" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">右边距(@mContainer.Margin.Right)</WmText>
                        <WmSlider Color="primary" @bind-Value="@mContainer.Margin.Right" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">高(比例)(@mContainer.HeightPercent)</WmText>
                        <WmSlider Color="primary" @bind-Value="@mContainer.HeightPercent" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">宽(比例, 0自动计算)(@mContainer.WidthPercent)</WmText>
                        <WmSlider Color="primary" @bind-Value="@mContainer.WidthPercent" ValueLabel="true" />
                    </WmPaper>
                }
                else
                {
                    if (SelectedControl is WMText mText)
                    {
                        <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                            <WmText Typo="Typo.subtitle2">图片EXIF元数据配置</WmText>
                            <WmStack Row class="mt-5" Justify="Justify.SpaceBetween">
                                <div style="width:100%;float:left;overflow-x:auto;white-space:nowrap;border-bottom:1px solid #808080;display: flex;align-items: center;">
                                    @(string.Join(" ", mText.Exifs.Select(x => x.Prefix + x.Value + x.Suffix)))
                                </div>
                                <WmIconButton Icon="@WmIcons.Material.Filled.OpenInNew" OnClick="(()=>OpenExifDialog(mText))" Style="float:right;max-width:80px;" Size="Size.Small" />
                            </WmStack>
                            <WmColorPicker Label="字体颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="mText.FontColor" Class="mt-5" />
                            <WmText class="mt-5" Typo="Typo.subtitle1">字体大小(@mText.FontSize)</WmText>
                            <WmSlider Color="primary" @bind-Value="@mText.FontSize" ValueLabel="true" />

                            <WmDivider Class="my-3" />
                            <WmStack Row Justify="Justify.SpaceBetween" Style="display:flex;align-items:center;">
                                <WmText Typo="Typo.button">斜体</WmText>
                                <WmSwitch @bind-Value="@mText.IsItalic" Color="primary" />
                            </WmStack>
                            <WmDivider Class="my-3" />
                            <WmStack Row Justify="Justify.SpaceBetween" Style="display:flex;align-items:center;">
                                <WmText Typo="Typo.button">粗体</WmText>
                                <WmSwitch @bind-Value="@mText.IsBold" Color="primary" />
                            </WmStack>
                            <WmDivider Class="my-3" />

                            <WmStack Row Justify="Justify.SpaceBetween">
                                <div style="width:100%;float:left;overflow-x:auto;white-space:nowrap;border-bottom:1px solid #808080;display: flex;align-items: center;">
                                    @mText.FontFamily
                                </div>
                                <WmIconButton Variant="Variant.Filled" Icon="@WmIcons.Material.Filled.Edit" Color="primary" Size="Size.Small" OnClick="()=>SelectLocalFont(mText)" />
                            </WmStack>

                        </WmPaper>
                        <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                            <WmStack Row class="mt-5" Style="position:relative">
                                <WmText Align="Align.Justify" Typo="Typo.button">文字边框</WmText>
                                <WmSwitch @bind-Value="@mText.EnableBorder" Color="primary" Style="position:absolute;right:5px" />
                            </WmStack>

                            <WmDivider Class="my-3" />
                            <WmText Typo="Typo.subtitle1">边框宽度(@mText.BorderWidth)</WmText>
                            <WmSlider Color="primary" @bind-Value="@mText.BorderWidth" ValueLabel="true" />
                            <WmDivider Class="my-3" />
                            <WmText Typo="Typo.subtitle1">边框圆角度数(@mText.BorderRadius)</WmText>
                            <WmSlider Color="primary" @bind-Value="@mText.BorderRadius" ValueLabel="true" />
                            <WmDivider Class="my-3" />
                            <WmText Typo="Typo.subtitle1">内边距(@mText.BorderPadding)</WmText>
                            <WmSlider Color="primary" @bind-Value="@mText.BorderPadding" ValueLabel="true" />
                            <WmDivider Class="my-3" />
                            <WmColorPicker Label="边框颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="mText.BorderColor" />
                        </WmPaper>
                    }
                    else if (SelectedControl is WMLogo mLogo)
                    {
                        <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                            <WmStack Row Justify="Justify.SpaceBetween">
                                <WmText Typo="Typo.button">白底转透明像素</WmText>
                                <WmSwitch @bind-Value="@mLogo.White2Transparent" Color="primary" />
                            </WmStack>
                            <WmDivider Class="my-3" />
                            <WmStack Row Justify="Justify.SpaceBetween">
                                <WmText Typo="Typo.button">自动识别品牌图标</WmText>
                                <WmSwitch @bind-Value="@mLogo.AutoSetLogo" Color="primary" />
                            </WmStack>
                            <WmDivider Class="my-3" />
                            <div Style="display:flex;align-items:center;justify-content: space-between;">
                                <WmText Align="Align.Justify" Typo="Typo.button">图片</WmText>
                                @if (ImagesBase64.TryGetValue(mLogo.ID, out string src))
                                {
                                    <WmImage Src="@src" ObjectFit="ObjectFit.Contain" Width="40" />
                                }
                                <WmIconButton Variant="Variant.Filled" Icon="@WmIcons.Material.Filled.OpenInNew" OnClick="(()=> OpenLogoDialog(mLogo))" />
                            </div>
                        </WmPaper>
                    }
                    else if (SelectedControl is WMLine mLine)
                    {

                        <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                            <WmColorPicker Label="分割线颜色" ColorPickerView="ColorPickerView.Grid" @bind-Text="mLine.Color" />
                            <div class="d-flex justify-space-between mt-5">
                                <WmText Typo="Typo.button">线方向</WmText>
                                <WmToggleGroup @bind-Value="@mLine.Orientation" T="Orientation" Outline="true" Delimiters="true" Dense="true" Rounded="false" CheckMark="false" FixedContent="false">
                                    <WmToggleItem Value="@(Orientation.Horizontal)">
                                        <WmIcon Icon="@WmIcons.Material.Filled.BorderHorizontal" />
                                    </WmToggleItem>
                                    <WmToggleItem Value="@(Orientation.Vertical)">
                                        <WmIcon Icon="@WmIcons.Material.Filled.BorderVertical" />
                                    </WmToggleItem>
                                </WmToggleGroup>
                            </div>
                            <WmDivider Class="my-3" />
                            <WmText Typo="Typo.subtitle2" Style="width:50%">线粗细(@mLine.Thickness)</WmText>
                            <WmSlider Color="primary" @bind-Value="@mLine.Thickness" ValueLabel="true" Min="0" />
                        </WmPaper>
                    }

                    <WmPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
                        <WmText Typo="Typo.subtitle1">上边距(@SelectedControl.Margin.Top)</WmText>
                        <WmSlider Color="primary" @bind-Value="@SelectedControl.Margin.Top" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">下边距(@SelectedControl.Margin.Bottom)</WmText>
                        <WmSlider Color="primary" @bind-Value="@SelectedControl.Margin.Bottom" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">左边距(@SelectedControl.Margin.Left)</WmText>
                        <WmSlider Color="primary" @bind-Value="@SelectedControl.Margin.Left" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">右边距(@SelectedControl.Margin.Right)</WmText>
                        <WmSlider Color="primary" @bind-Value="@SelectedControl.Margin.Right" ValueLabel="true" />
                        <WmDivider Class="my-3" />
                        <WmText Typo="Typo.subtitle1">组件占容器比例(@SelectedControl.Percent)</WmText>
                        <WmSlider Color="primary" @bind-Value="@SelectedControl.Percent" ValueLabel="true" />
                    </WmPaper>
                }
            </WmPaper>
        }
    </MSheet>
</MBottomSheet>


<MBottomSheet @bind-Value="@openSave">
    <MSheet>
        <Watermark.Razor.Components.SavePanel ExportEvent="Export"/>
    </MSheet>
</MBottomSheet>


<MBottomSheet @bind-Value="@openLogoDialog" ContentStyle="height:60%;">
    <MSheet Style="height:100%;overflow:auto">
        <Watermark.Razor.Components.LogoDialogContent OnClick="SelectLogoCallback" />
    </MSheet>
</MBottomSheet>
<MBottomSheet @bind-Value="@openFontsDialog" ContentStyle="height:60%;">
    <MSheet Style="height:100%;overflow:auto">
        <FontsDialog OnImageTouched="SelectFontCallback" />
    </MSheet>
</MBottomSheet>

<MDialog @bind-Value="showExifConfig" ContentStyle="width:90%;height:90%;">
    @if (editingExifText is not null)
    {
        <Watermark.Razor.Components.ExifConfig mText="editingExifText"
                                               ContainerId2Name="exifContainerNames"
                                               CanvasType="CurrentImage.Canvas.CanvasType"
                                               OnClose="SaveExifConfig" />
    }
</MDialog>

<ExifInfo @bind-Value="showFullExif" Exifs="fullExifValues" />


@code {
    public WMTemplateList CurrentImage { get; set; }
    [Parameter]
    public string names { get; set; }
    [Parameter]
    public string templateId { get; set; }

    public List<WMTemplateList> Images { get; set; }

    bool SrcLoading = false;
    bool openSave = false;
    bool _expanded = false;
    bool showSetting = false;
    public bool ShowSetting
    {
        get => showSetting;
        set
        {
            showSetting = value;
            if (!value) RefreshEditImage();
        }
    }
    bool showRadio = false;
    bool showControlSetting = false;
    bool showCanvas = false;
    WMText? selectedText;
    WMLogo? selectedLogo;
    bool openFontsDialog = false;
    bool openLogoDialog = false;
    bool showExifConfig;
    bool showFullExif;
    WMText? editingExifText;
    Dictionary<string, string> exifContainerNames = [];
    Dictionary<string, string> fullExifValues = [];
    ConcurrentDictionary<string, string> ImagesBase64 = new();
    List<string> radioes = ["1:1", "16:9", "9:16", "3:2", "2:3", "4:3", "3:4", "21:9", "18:9", "1.85:1", "2.39:1"];
    Dictionary<string, string> RadioBase64 = [];
    WMContainer? SelectedContainer;
    int ContainerLevel;
    IWMControl? SelectedControl;
    WMCanvas CurrentTemplateCanvas;
    string cardStyle => "margin:8px 0px;background:#F5F5F5";

    int selectedIndex = 0;
    public int SelecetedIndex
    {
        get => selectedIndex;
        set
        {
            selectedIndex = value;
            CurrentImage = Images[value];
            RefreshEditImage();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        ClientInstance.SetColor();
        try
        {
            var canvas = await Global.GetCanvas(templateId);
            if (canvas is null) return;
            CurrentTemplateCanvas = canvas;
            await InitImages(names, templateId);
            RadioBase64 = Global.GetRadio();
            await InitLogoCacheDic();
            SelectedContainer = CurrentTemplateCanvas.Children.FirstOrDefault();
            var _ = api.PageVisitRecord(ProgramPage.Design, DeviceType.Andorid);
        }
        catch (Exception ex)
        {
            Common.ShowMsg(PopupService, ex.Message, AlertTypes.Error);
        }
        finally
        {
            loadingService.Hide();
            StateHasChanged();
        }

    }

    async Task InitImages(string names, string templateId)
    {
        var fileNames = names.Split(';');
        Images = new List<WMTemplateList>();
        if (!Directory.Exists(Global.AppPath.ThumbnailFolder))
        {
            Directory.CreateDirectory(Global.AppPath.ThumbnailFolder);
        }

        if (CurrentTemplateCanvas.CanvasType == CanvasType.Normal)
        {
            foreach (var fullPath in fileNames)
            {
                var img = new WMTemplateList();
                var cvs = Global.ReadConfig(Global.CanvasSerialize(CurrentTemplateCanvas));
                cvs.Path = fullPath;
                img.Canvas = cvs;
                cvs.Exif[cvs.ID] = await ExifHelper.ReadImageAsync(fullPath);
                img.ID = cvs.ID;
                img.Path = fullPath;
                Global.CheckImageExtension(fullPath);
                var thumbnail = Global.AppPath.ThumbnailFolder + Path.GetFileName(fullPath);
                await Global.WriteThumbnailImageAsync(fullPath, thumbnail);
                Images.Add(img);
            }
            CurrentImage = Images.First();
        }
        else
        {
            Dictionary<string, Dictionary<string, string>> exif = [];
            exif[CurrentTemplateCanvas.ID] = ExifHelper.DefaultMeta;
            int c = 0;
            foreach (var container in CurrentTemplateCanvas.Children)
            {
                if (c <= fileNames.Count() - 1 && !container.ContainerProperties.FixImage)
                {
                    container.Path = fileNames.Skip(c++).Take(1).First();
                    exif[container.ID] = await ExifHelper.ReadImageAsync(container.Path);
                }
            }

            CurrentImage = new();
            CurrentTemplateCanvas.Exif = exif;
            CurrentImage.Canvas = CurrentTemplateCanvas;
            CurrentImage.ID = CurrentImage.Canvas.ID;
            Images = [CurrentImage];
        }
        var b64 = await helper.GenerationAsync(CurrentImage.Canvas, null, true, false);
        CurrentImage.Src = await JSRuntime.InvokeAsync<string>("byteToUrl", b64);
    }


    void OpenExifDialog(WMText mText)
    {
        var dic = CurrentImage.Canvas.Children.Where(x => !x.ContainerProperties.FixImage).ToDictionary((k) => k.ID, v => v.Name);
        dic[CurrentImage.Canvas.ID] = CurrentImage.Canvas.Name;
        editingExifText = mText;
        exifContainerNames = dic.Reverse().ToDictionary();
        showExifConfig = true;
    }

    void SaveExifConfig(WMText text)
    {
        if (editingExifText is null) return;
        editingExifText.Exifs = text.Exifs;
        editingExifText.BindedContainerId = text.BindedContainerId;
        showExifConfig = false;
        RefreshEditImage();
    }

    async void SelectSourceImageExif()
    {
        var result = await ClientInstance.PickAsync();

        if (result == null) return;
        try
        {
            CurrentImage.Canvas.Exif[CurrentImage.Canvas.ID] = ExifHelper.ReadImage(result);
            RefreshEditImage();
        }
        catch (Exception ex)
        {
            Common.ShowMsg(PopupService, $"不支持的图片格式：{ex.Message}", AlertTypes.Error);
        }
    }

    void OpenFullExifInfo()
    {
        var meta = CurrentImage.Canvas.Exif.Any() ? CurrentImage.Canvas.Exif.FirstOrDefault().Value : ExifHelper.DefaultMeta;
        fullExifValues = ExifHelper.ReadAllExif(meta);
        showFullExif = true;
    }

    public async void RefreshEditImage()
    {
        SrcLoading = true;
        StateHasChanged();
        try
        {
            CurrentTemplateCanvas.Exif = CurrentImage.Canvas.Exif;
            CurrentTemplateCanvas.Path = CurrentImage.Path;
            var b64 = await helper.GenerationAsync(CurrentTemplateCanvas, null, true, false);
            if (!string.IsNullOrEmpty(CurrentImage.Src))
            {
                await Global.RevokeUrl(JSRuntime, CurrentImage.Src);
            }
            CurrentImage.Src = await Global.Byte2Url(JSRuntime, b64);
            b64 = null;
        }
        catch (Exception ex)
        {
            Common.ShowMsg(PopupService, ex.Message, AlertTypes.Error);
        }
        finally
        {
            SrcLoading = false;
            StateHasChanged();
            GC.Collect();
        }
    }

    void CloseDrawerClick()
    {
        ClientInstance.Haptic();
        NavController.Pop();
    }

    async void Export()
    {
        try 
        {
            ClientInstance.Haptic();
            openSave = false;
            loadingService.Show(0, []);
            StateHasChanged();
            int cot = 1;
            foreach (var item in Images)
            {
                loadingService.Show(0, ["导出中", $"共{Images.Count}张，目前第{cot++}张"]);
                var cvs = Global.ReadConfig(Global.CanvasSerialize(CurrentTemplateCanvas));
                cvs.Path = item.Path;
                cvs.Exif = item.Canvas.Exif;
                var b64 = await helper.GenerationAsync(cvs, null, false, false);
                var fn = Path.GetFileNameWithoutExtension(item.Canvas.Path) ?? Guid.NewGuid().ToString();
                ClientInstance.Save(b64, fn);
                StateHasChanged();
            }

            loadingService.Hide();
            Common.ShowMsg(PopupService, "保存成功。", AlertTypes.Success);
            openSave = false;
            StateHasChanged();
        }
        catch(Exception ex) 
        {
            Common.ShowMsg(PopupService, ex.Message, Masa.Blazor.AlertTypes.Error);
        }
       
    }

    async Task InitLogoCacheDic()
    {
        ConcurrentDictionary<string, byte[]> dic = new();
        var p = Path.Combine(Global.AppPath.TemplatesFolder, CurrentTemplateCanvas.ID, "default.jpg");
        Global.ImageFile2Base64(dic, p, "default");
        var folder = Global.AppPath.TemplatesFolder + CurrentTemplateCanvas.ID + System.IO.Path.DirectorySeparatorChar;
        CurrentTemplateCanvas.Children.ForEach(c =>
        {
            if (!string.IsNullOrEmpty(c.Path)) Global.ImageFile2Base64(dic, folder + c.Path, c.ID);
            c.Controls.ForEach(x =>
            {
                if (x is WMLogo mLogo) Global.ImageFile2Base64(dic, folder + mLogo.Path, mLogo.ID);
                else if (x is WMContainer mContainer)
                {
                    mContainer.Controls.ForEach(z =>
                    {
                        if (z is WMLogo logo1) Global.ImageFile2Base64(dic, folder + logo1.Path, logo1.ID);
                    });

                };
            });
        });
        foreach (var e in dic)
        {
            ImagesBase64[e.Key] = await JSRuntime.InvokeAsync<string>("byteToUrl", e.Value);
        }
    }

    void ExpandSwitch()
    {
        ClientInstance.Haptic();
        _expanded = !_expanded;
    }

    void SelectLocalFont(WMText mText)
    {
        ClientInstance.Haptic();
        selectedText = mText;
        openFontsDialog = true;
    }

    void OpenLogoDialog(WMLogo mLogo)
    {
        ClientInstance.Haptic();
        selectedLogo = mLogo;
        openLogoDialog = true;
    }

    void SetLengthWidthRatio(string v)
    {
        ClientInstance.Haptic();
        CurrentTemplateCanvas.LengthWidthRatio = v;
        var wh = v.Split(":");
        var w = Convert.ToDouble(wh[0]);
        var h = Convert.ToDouble(wh[1]);
        var xs = 6000 / w;
        CurrentTemplateCanvas.CustomWidth = 6000;
        CurrentTemplateCanvas.CustomHeight = (int)(xs * h);
        StateHasChanged();
    }

    void OpenCanvas()
    {
        ClientInstance.Haptic();
        showRadio = false;
        showCanvas = true;
        showControlSetting = false;
        ShowSetting = true;
    }

    void OpenControlSetting(IWMControl control)
    {
        ClientInstance.Haptic();
        showRadio = false;
        showControlSetting = true;
        SelectedControl = control;
        ShowSetting = true;
        showCanvas = false;
        StateHasChanged();
    }

    void SelectFontCallback(KeyValuePair<string, string> pair)
    {
        ClientInstance.Haptic();
        if (selectedText is null) return;
        selectedText.FontFamily = pair.Key;
        openFontsDialog = false;
        StateHasChanged();
    }

    void SelectLogoCallback(KeyValuePair<string, string> pair)
    {
        ClientInstance.Haptic();
        if (selectedLogo is null) return;
        ImagesBase64[pair.Key] = pair.Value;
        selectedLogo.Path = pair.Key;
        ImagesBase64[selectedLogo.ID] = pair.Value;
        openLogoDialog = false;
        StateHasChanged();
    }

    void OpenSave()
    {
        ClientInstance.Haptic();
        openSave = true;
    }

    void OpenRadio()
    {
        ClientInstance.Haptic();
        ShowSetting = true;
        showRadio = true;
        showControlSetting = false;
    }

    void SelectContainer(WMContainer i, int lv)
    {
        ClientInstance.Haptic();
        SelectedContainer = i;
        ContainerLevel = lv;
    }

    void ValueChanged2(string v)
    {
        CurrentTemplateCanvas.LengthWidthRatio = v;
        var wh = v.Split(":");
        var w = Convert.ToDouble(wh[0]);
        var h = Convert.ToDouble(wh[1]);
        var xs = 6000 / w;
        CurrentTemplateCanvas.CustomWidth = 6000;
        CurrentTemplateCanvas.CustomHeight = (int)(xs * h);
    }

    async void SelectDefaultImage()
    {
        var result = await ClientInstance.PickAsync();
        if (result != null)
        {
            var p = result;
            var destFolder = Global.AppPath.TemplatesFolder + CurrentTemplateCanvas.ID;
            if (!System.IO.Directory.Exists(destFolder))
            {
                System.IO.Directory.CreateDirectory(destFolder);
            }
            if (string.IsNullOrEmpty(p)) return;
            ConcurrentDictionary<string, byte[]> dic = new();
            var destFile = destFolder + System.IO.Path.DirectorySeparatorChar + "default.jpg";
            SkiaSharp.SKBitmap bitmap = SkiaSharp.SKBitmap.Decode(p);
            Global.WriteThumbnailImage(bitmap, destFile);
            Global.ImageFile2Base64(dic, destFile, "default");
            ImagesBase64["default"] = await JSRuntime.InvokeAsync<string>("byteToUrl", dic.First().Value);
        }
    }
}
