@page "/settings"
@using Masa.Blazor.Presets.PageStack.NavController
@using Watermark.Razor.Components
@using Watermark.Shared.Models
@using Components.Layout
@using Watermark.Shared.Enums
@inject IPopupService PopupService
@inject PageStackNavController NavController
@layout MainLayout
@inject IClientInstance ClientInstance
@inject NavigationManager navigationManager
@inherits PStackPageBase

<style>
    .mud-overlay .mud-overlay-content {
        width: 60%;
    }

    .mud-switch {
        margin-left: 0px;
        margin-right: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-right: 0px;
    }

</style>
<MudToolBar Style="height:40px;padding-left:2px;box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);background:#fff;z-index:10">
    <MudText Typo="Typo.subtitle1" Style="margin-left:16px;">
        你好，
        @if (Global.CurrentUser != null && !string.IsNullOrEmpty(Global.CurrentUser.DISPLAY_NAME))
        {
            <span>@Global.CurrentUser.DISPLAY_NAME</span>
        }
        else
        {
            <span>游客</span>
        }
    </MudText>
    @*  <MudStack Row Style="position:absolute;right:15px;" >
        <MudIcon Icon="@(ShowUserInfo ? Icons.Material.Filled.Clear : @Icons.Material.Filled.AddCircleOutline)" Style="margin-right: 0px;" @onclick="()=> ShowUserInfo = !ShowUserInfo" />
    </MudStack> *@


    <MudPopover Style="width:200px;padding: 0 !important;" OverflowBehavior="OverflowBehavior.FlipNever" @bind-Open="@ShowUserInfo" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" Class="pa-4" Elevation="25">
        <MudList Clickable="true" Dense="true">
            <MudListItem Icon="@Icons.Material.Filled.DesignServices" OnClick="@(()=>NavController.Push("/design/B735DFC73A0B4080B11BBCFD3AE833D6"))">
                设计模板
            </MudListItem>
        </MudList>
    </MudPopover>
</MudToolBar>
@if (Global.CurrentUser != null && !string.IsNullOrEmpty(Global.CurrentUser.ID))
{
    <MCard Style="@($"padding:10px;{cardStyle}")" Elevation="0">
        <div style="display:flex;align-items:center;justify-content: flex-start">
            @if (!string.IsNullOrEmpty(Global.CurrentUser.IMG))
            {
                <MAvatar Height="50" Width="50">
                    <MImage Src="@Global.CurrentUser.IMG"></MImage>
                </MAvatar>
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Primary" Size="Size.Large" Style="float:left;" />
            }


            <div style="display: flex; align-items: flex-start;flex-direction: column;justify-content: center;" class="ml-2">
                <p class="font-weight-medium" style="@($"color:{(Global.CurrentUser.IsVIP ? "orange" : "black")};display:flex;align-items:center;margin:0px")">
                    @Global.CurrentUser.DISPLAY_NAME
                    @if (Global.CurrentUser.IsVIP && Global.DeviceType != DeviceType.IOS)
                    {
                        <Watermark.Razor.Parts.IconVip />
                    }
                    else if (Global.DeviceType != DeviceType.IOS)
                    {
                        <MudButton Variant="Variant.Outlined" Class="ml-5" Size="Size.Small" OnClick="OpenVip">开通会员</MudButton>
                    }
                </p>
                <p class="font-weight-light ma-0">@Global.CurrentUser.USER_NAME</p>
            </div>
        </div>

        @if (Global.DeviceType != DeviceType.IOS)
        {
            <div Style="display:flex;align-items:center;line-height: 32px;">
                <Watermark.Razor.Parts.IconCoin />
                <MudText Typo="Typo.overline" Color="Color.Inherit" Style="line-height: 32px;">
                    @Global.CurrentUser.COINS
                </MudText>
                <MudText Typo="Typo.overline" Color="Color.Inherit" Class="ml-4">
                    会员到期时间：@Global.CurrentUser.EXPIRE_DATE
                </MudText>
            </div>
        }
    </MCard>
}
else
{
    <MudPaper Style="@($"padding:10px;{cardStyle}")" Elevation="0">
        <MudStack Row>

            <MButton OnClick="@(() => NavController.Push("/login"))" Text>登录</MButton>
            <MButton OnClick="@(() => NavController.Push("/signup/0"))" Text>注册</MButton>
        </MudStack>
    </MudPaper>
}

@* 活动面板 *@
@* <MudPaper Style="@cardStyle" Elevation="0" class="pa-3">
	<MudCarousel Class="mud-width-full" Style="height:100px;" ShowArrows="false" ShowBullets="false" EnableSwipeGesture="true" AutoCycle="true" TData="object">
		<MudCarouselItem Transition="@Transition.Fade">
			<div class="d-flex" style="height:100%">
				<MudImage Src="https://cdn.thankful.top/gonggao.jpg" ObjectFit="ObjectFit.Contain" Class="mx-auto" />
			</div>
		</MudCarouselItem>
		<MudCarouselItem Transition="@Transition.Fade">
			<div class="d-flex" style="height:100%">
				<MudImage Src="https://cdn.thankful.top/yaofan.jpg" ObjectFit="ObjectFit.Contain" Class="mx-auto" />
			</div>
		</MudCarouselItem>
	</MudCarousel>
</MudPaper> *@


<MudPaper Style="@cardStyle" Elevation="0" class="pa-3">
    <MudStack Row Justify="Justify.SpaceBetween" style="align-items: center" @onclick="Update">
        <MudStack Row style="align-items: center">
            <MudText Typo="Typo.button"> 当前版本 @($" {ClientInstance.GetVersion().ToString()}")</MudText>
            @if (checkUpdate)
            {
                <MudChip Size="Size.Small" Color="Color.Error">new</MudChip>
            }
        </MudStack>
        <MudIcon Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small" />
    </MudStack>
    @if (DownLoadProgress > 0)
    {
        <MudProgressLinear Color="Color.Primary" Value="@DownLoadProgress" Class="mr-5" style="width:auto" />
    }
</MudPaper>

<MudPaper Elevation="0" Style="@cardStyle" class="pa-3">
    <MudStack Row Justify="Justify.SpaceBetween" style="align-items: center" @onclick="() => openLogoDialog = true">
        <MudText Typo="Typo.button"> 导入图标 </MudText>
        <MudIcon Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small" />
    </MudStack>
    @* <MudDivider Class="my-2" />
    <MudStack Row Justify="Justify.SpaceBetween" style="align-items: center" @onclick="@(()=>CopyClipboard("http://thankful.top:2038/api/public/dl/EMRyVNXX"))">
        <MudText Typo="Typo.button"> PC客户端 </MudText>
        <MudIcon Icon="@Icons.Material.Filled.ContentCopy" Size="Size.Small" />
    </MudStack>

    <MudDivider Class="my-2" />
    <MudStack Row Justify="Justify.SpaceBetween" style="align-items: center">
        <MudText Typo="Typo.button"><a href="http://thankful.top/"> Web网页版</a></MudText>
        <MudIcon Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small" />
    </MudStack> *@

    <MudDivider Class="my-2" />
    <MudStack Row Justify="Justify.SpaceBetween" style="align-items: center" @onclick="@(()=>CopyClipboard("836325187"))">
        <MudText Typo="Typo.button"> 交流群：836325187</MudText>
        <MudIcon Icon="@Icons.Material.Filled.ContentCopy" Size="Size.Small" />
    </MudStack>
    <MudDivider Class="my-2" />
    <MudStack Row Justify="Justify.SpaceBetween" style="align-items: center" @onclick="()=>ShowQuestion = true">
        <MudText Typo="Typo.button"> 常见问题</MudText>
        <MudIcon Icon="@Icons.Material.Filled.QuestionMark" Size="Size.Small" />
    </MudStack>
</MudPaper>

<MudPaper Style="@cardStyle" Elevation="0" class="pa-3">
    <MudStack Row Justify="Justify.SpaceBetween" style="align-items: center" @onclick="()=> { Global.CurrentUser = null; }">
        <MudText Typo="Typo.button"> 切换账号</MudText>
        <MudIcon Icon="@Icons.Material.Filled.ExitToApp" Size="Size.Small" />
    </MudStack>
    <MudDivider Class="my-2" />
    <MudStack Row Justify="Justify.SpaceBetween" style="align-items: center" @onclick="OpenSettings">
        <MudText Typo="Typo.button">设置</MudText>
        <MudIcon Icon="@Icons.Material.Filled.Settings" Size="Size.Small" />
    </MudStack>
    @if (Global.CurrentUser?.ID == "0BECCA9A-6F10-4A88-8753-921195D08853" || Global.CurrentUser?.ID == "9DEBF7DC-F58C-4667-BACF-A6BFD18352EB")
    {
        <MudDivider Class="my-2" />
        <MudStack Row Justify="Justify.SpaceBetween" style="align-items: center" @onclick="@(()=>NavController.Push("/dms"))">
            <MudText Typo="Typo.button">APP数据</MudText>
            <MudIcon Icon="@Icons.Material.Filled.ArrowRight" Size="Size.Small" />
        </MudStack>
    }
</MudPaper>

<MBottomSheet @bind-Value="@openVip" ContentStyle="height:60%;">
    <MSheet Style="height:100%;overflow:auto">
        <VipDialog OnImageTouched="OnImageTouched" />
    </MSheet>
</MBottomSheet>



<MBottomSheet @bind-Value="@openLogoDialog" ContentStyle="height:60%;">
    <MSheet Style="height:100%;overflow:auto">
        <Watermark.Razor.Components.LogoDialogContent />
    </MSheet>
</MBottomSheet>

<MBottomSheet @bind-Value="@ShowQuestion" ContentStyle="height:60%;">
    <MSheet Style="height:100%;overflow:auto">
        <Watermark.Razor.Components.QuestionDialog />
    </MSheet>
</MBottomSheet>

<MudOverlay Visible="@showUpdateOverlay" DarkBackground="true" Absolute="true" ZIndex="99999">
    <Watermark.Razor.Components.UpdateDialog CloseEvet="()=>showUpdateOverlay = false" UpdateEvet="Update" DownLoadProgress="DownLoadProgress" UpdateMessage="@ClientInstance.UpdateMessage" UpdateVersion="@ClientInstance.UpdateVersion" />
</MudOverlay>

@code {
#if ANDROID

	[Inject]
	private IUpgradeService UpgradeService { get; set; }
#endif

    [Inject]
    private IDialogService DialogService { get; set; }
    [Parameter]
    public EventCallback RefreshCollection { get; set; }

    string cardStyle => $"margin:20px 16px;background:{Colors.Grey.Lighten4}";
    bool openVip = false;
    bool checkUpdate = false;
    int DownLoadProgress = 0;
    bool openLogoDialog = false;
    bool showUpdateOverlay = false;
    bool ShowQuestion = false;
    bool ShowUserInfo = false;

    protected override async Task OnInitializedAsync()
    {
        checkUpdate = await ClientInstance.CheckUpdate();
        if (checkUpdate)
        {
            showUpdateOverlay = true;
        }
        NavController.PageClosed += (e, v) =>
        {
#if ANDROID
    MainActivity.SetColor.Invoke("#FFFFFF");
#endif
            if (v.RelativeUri == @"/login")
            {
                if (RefreshCollection.HasDelegate)
                {
                    RefreshCollection.InvokeAsync();
                }
            }
            else if (v.RelativeUri == @"/appsetting")
            {
                StateHasChanged();
            }
            else if (v.RelativeUri == @"/signup")
            {
                if (RefreshCollection.HasDelegate)
                {
                    RefreshCollection.InvokeAsync();
                }
            }
            StateHasChanged();
        };
    }
    protected override void OnPageActivated(object? state)
    {
        var _stateFromPage4 = state?.ToString();
    }
    async void Update()
    {
        ClientInstance.Haptic();
#if ANDROID
	if (!checkUpdate || DownLoadProgress > 0) return;
	Global.APK = DateTime.Now.ToString("yyyyMMddHHmmss") + ".apk";
	await UpgradeService.DownloadFileAsync(ClientInstance.LinkPath, DownloadProgressChanged);
	UpgradeService.InstallNewVersion();
	DownLoadProgress = 0;
	StateHasChanged();
#endif
    }


    private void DownloadProgressChanged(long readLength, long allLength)
    {
        InvokeAsync(() =>
        {
            var c = (int)(readLength * 100 / allLength);

            if (c > 0 && c % 5 == 0) //刷新进度为每5%更新一次，过快的刷新会导致页面显示数值与实际不一致
            {
                DownLoadProgress = c; //下载完成百分比
                StateHasChanged();
            }
        });
    }


    async void CopyClipboard(string uri)
    {
        await ClientInstance.SetTextAsync(uri);
        Common.ShowMsg(PopupService, "已复制到剪贴板", AlertTypes.Success);
    }

    private void NavControllerOnPageClosed(object? sender, PageStackPageClosedEventArgs e)
    {
        Console.Out.WriteLine($"{e.RelativeUri} closed");
    }

    void OpenLoginDialog()
    {
        NavController.Push("/login");
    }

    void OnImageTouched(bool f)
    {
        openVip = false;
        StateHasChanged();
    }

    void OpenVip()
    {
        ClientInstance.Haptic();
        openVip = true;
    }

    void OpenSettings()
    {
        NavController.Push("/appsetting");
        ClientInstance.SetColor();
    }
}