@using Microsoft.AspNetCore.Components.Forms
@using System.IO
@using Watermark.Shared.Models
@using Microsoft.AspNetCore.Components
@using System.ComponentModel.DataAnnotations
@inject IPopupService PopupService
@inject IClientInstance ClientInstance


<WmPaper Style="@boxStyle" Elevation="0" class="pa-3">
	<WmStack Justify="Justify.FlexStart">
		<WmText Typo="Typo.subtitle1"><strong>免费版</strong>  </WmText>
		<WmText Typo="Typo.subtitle2">基础模板|最高画质|模板编辑|生成照片 </WmText>
	</WmStack>
</WmPaper>

<WmPaper Style="@boxStyle" Elevation="0" class="pa-3">
	<WmStack Justify="Justify.FlexStart">
		<WmText Typo="Typo.subtitle1"><strong>付费会员</strong>  </WmText>
		<WmText Typo="Typo.subtitle2">无限制使用付费API<br />无限制批量处理<br />无限制使用付费的高级模板<br />IOS、MAC OS、Windows、Android多端同步<br />持续更新 </WmText>
	</WmStack>
	<WmDivider Class="my-4" />
	<WmStack Row style="position:relative;align-items: center">
		<WmText Typo="Typo.button"> <strong>年度会员</strong> </WmText>
		<WmChip Size="Size.Small" Color="warning" Label="true" style="position:absolute;right:10px" OnClick="@(()=>Pay(28, "年度会员"))">¥28</WmChip>
	</WmStack>
	<WmDivider Class="my-4" />
	<WmStack Row style="position:relative;align-items: center">
		<WmText Typo="Typo.button"> <strong>季度会员</strong> </WmText>
		<WmChip Size="Size.Small" Color="warning" Label="true" style="position:absolute;right:10px" OnClick="@(()=>Pay(18, "季度会员"))">¥18</WmChip>
	</WmStack>
	<WmDivider Class="my-4" />
	<WmStack Row style="position:relative;align-items: center">
		<WmText Typo="Typo.button"> <strong>月度会员</strong> </WmText>
		<WmChip Size="Size.Small" Color="warning" Label="true" style="position:absolute;right:10px" OnClick="@(()=>Pay(8, "月度会员"))">¥8 &nbsp;</WmChip>
	</WmStack>
</WmPaper>

<WmPaper class="ma-3" Style="margin: 10px 16px;" Elevation="0">
	<div style="height:10px;width:10px;"></div>
</WmPaper>

@code {
	[Parameter]
	public EventCallback<bool> OnImageTouched { get; set; }
	string boxStyle = "margin:10px 16px;background:#F5F5F5";
	async void Pay(decimal cost, string tradeName)
	{
		try
		{
			var result = await ClientInstance.AliPays(cost, tradeName);
			if (result.success)
			{
				Common.ShowMsg(PopupService, result.data, AlertTypes.Success);
				await ClientInstance.ReLogin();
				if (OnImageTouched.HasDelegate)
				{
					await OnImageTouched.InvokeAsync(true);
				}
			}
			else
			{
				Common.ShowMsg(PopupService, result?.message?.content ?? "支付失败", AlertTypes.Error);
			}
		}
		catch (Exception ex)
		{
			Common.ShowMsg(PopupService, ex.Message, AlertTypes.Error);
		}
	}
}
