@using Watermark.Win.Models
<MudDialog Style="width:80%; height:80%;overflow-y:hidden">
    <DialogContent>
        <div style="height:220px;width:100%;">
            <MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="false" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
                <MudCarouselItem Transition="Transition.Fade" Color="@Color.Primary">
                    <div class="d-flex" style="height:100%">
                        <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade" Color="@Color.Secondary">
                    <div class="d-flex" style="height:100%">
                        <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade">
                    <div class="d-flex" style="height:100%">
                        <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" />
                    </div>
                </MudCarouselItem>
            </MudCarousel>
        </div>
        <MudGrid Spacing="2" Justify="Justify.FlexStart" Style="height:calc(80vh - 260px);overflow-y:auto;padding:5px;">
            @if (ZipedTemplates != null)
            {
                @foreach (var t in ZipedTemplates)
                {
                    <MudItem xs="4">
                        <MudCard>
                            <MudImage Style="width:100%" Height="200" Src="@t.Src" ObjectFit="ObjectFit.Contain"/>
                            <MudCardContent Style="height:80px;">
                                <MudText Typo="Typo.body2">@t.Desc</MudText>
                            </MudCardContent>
                            <MudCardActions Style="position:relative;">
                                @t.DownloadTimes<MudIcon Icon="@Icons.Material.Filled.Download" Color="Color.Error" Style="cursor:pointer;" />
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="position:absolute;right:10px">下载</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                }
            }
        </MudGrid>
    </DialogContent>
</MudDialog>


@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }
    [Inject]
    private IDialogService DialogService { get; set; }

    List<ZipedTemplate> ZipedTemplates;

    protected override async Task OnInitializedAsync()
    {
        var helper = new APIHelper();
        ZipedTemplates = await helper.GetWatermarks(0, 10);
        var whelper = new WatermarkHelper();
        foreach (var t in ZipedTemplates)
        {
            t.Src = whelper.Generation(t.WMCanvas, t);
        }
    }
}