@using Masa.Blazor
@using Watermark.Razor.BlazorPages
@using Watermark.Razor.Parts
@using Watermark.Shared.Models
@inherits LayoutComponentBase
@inject IClientInstance ClientInstance
@inject APIHelper api
@inject PageStackNavController NavController

<MudThemeProvider IsDarkMode="@GlobalConfig.DARK_MODE" />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
    <MApp>
        <MMain>
            <MErrorHandler>
                <PPageStack TabbedPatterns="@(["^/$", "/market", "/settings", "/test"])">
                    <MContainer Style="padding:0px !important;height:calc(100vh - 56px);overflow:hidden">
                        @Body
                    </MContainer>
                </PPageStack>
            </MErrorHandler>
        </MMain>
        <MBottomNavigation @bind-Value="Value"
        App
        Grow
        Shift
        Color="primary">
            <MButton OnClick="@(() => NavController.Replace("/"))">
                <span>我的模板</span>
                <MIcon>mdi-download-box</MIcon>
            </MButton>
            <MButton OnClick="@(() => NavController.Replace("/market"))">
                <span>模板市场</span>
                <MIcon>mdi-shopping</MIcon>
            </MButton>
            <MButton OnClick="@(() => NavController.Replace("/settings"))">
                <span>我</span>
                <MIcon>mdi-account</MIcon>
            </MButton>
        </MBottomNavigation>
    </MApp>
</div>


<MDialog @bind-Value="showPrivate" Fullscreen Transition="" ContentStyle="display:flex;">
    <FirstPage OnClosed="OnSave" />
</MDialog>
@code {
    private StringNumber? Value;
    bool OpenPrivate = false;
    private bool showPrivate = false;
    protected override async Task OnInitializedAsync()
    {
        await GlobalConfig.InitConfig();
        showPrivate = !GlobalConfig.AGREE_PRIVATE;
        await Global.InitTemplateMarket(api);
    }

    void OnSave(bool v)
    {
        showPrivate = false;
        GlobalConfig.AGREE_PRIVATE = v;
    }
}