@using Masa.Blazor
@using Watermark.Razor.BlazorPages
@using Watermark.Razor.Parts
@using Watermark.Shared.Enums
@using Watermark.Shared.Models
@inherits LayoutComponentBase
@inject IClientInstance ClientInstance
@inject APIHelper api
@inject PageStackNavController NavController
@inject LoadingService LoadingService

<MudThemeProvider IsDarkMode="@GlobalConfig.DARK_MODE" />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
    <MApp>
        <MMain>
            <MErrorHandler>
                <PPageStack TabbedPatterns="@(["^/$", "/market", "/settings", "/test"])">
                    <MContainer Style="padding:0px !important;height:calc(100vh - 56px);overflow:hidden">
                        @Body
                    </MContainer>
                </PPageStack>
            </MErrorHandler>
        </MMain>
        <MBottomNavigation @bind-Value="Value"
        App
        Grow
        Shift
        Color="primary">
            <MButton OnClick="@(() => RouteTo("/"))">
                <span>我的模板</span>
                <MIcon>mdi-download-box</MIcon>
            </MButton>
            <MButton OnClick="@(() => RouteTo("/market"))">
                <span>模板市场</span>
                <MIcon>mdi-shopping</MIcon>
            </MButton>
            <MButton OnClick="@(() => RouteTo("/settings"))">
                <span>我</span>
                <MIcon>mdi-account</MIcon>
            </MButton>
        </MBottomNavigation>
    </MApp>
</div>


<MOverlay @bind-Value="@loading.Show">
    <MCard Width="200" Height="200" Elevation="0" Style="justify-content:center;display:flex;align-items:center;">
        <div style="text-align:center;display:flex;flex-direction: column;justify-content: center;align-items: center">
            <MProgressCircular indeterminate
                               Size="64"></MProgressCircular>
            <MudText Typo="Typo.subtitle1" Color="MudBlazor.Color.Default" Class="mt-2">
                @loading.Message1[0]
                @if (!string.IsNullOrEmpty(loading.Message1[1]))
                {
                    <br />
                }
                @loading.Message1[1]
            </MudText>
        </div>
    </MCard>
</MOverlay>
<MDialog @bind-Value="showPrivate" Fullscreen Transition="" ContentStyle="display:flex;">
    <FirstPage OnClosed="OnSave" />
</MDialog>
@code {
    readonly WMainLoading loading = new();
    private StringNumber? Value;
    private bool showPrivate = false;
    protected override async Task OnInitializedAsync()
    {
        LoadingService.OnShow += ShowLoader;
        LoadingService.OnHide += HideLoader;
        await GlobalConfig.InitConfig();
        showPrivate = !GlobalConfig.AGREE_PRIVATE;
        await Global.InitTemplateMarket(api);
    }

    void OnSave(bool v)
    {
        showPrivate = false;
        GlobalConfig.AGREE_PRIVATE = v;
    }

    void RouteTo(string route) 
    {
        ClientInstance.Haptic();
        NavController.Replace(route);
    }
    
    private void ShowLoader(int p, string[] s) => InvokeAsync(() => 
    {
        loading.Show = true;
        loading.Value = p;
        loading.Message1 = s;
        StateHasChanged();
    });

    private void HideLoader() => InvokeAsync(() =>
    {
        loading.Show = false;
        StateHasChanged();
    });
}